<div class="infi-record-box"
     ng-show="entity.name_16!=undefined && (entity.name_16=='value_0' || entity.name_16.value_0==true)"><h4
        class="infi-record-title">听力下降</h4>
    <div class="row">
        <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-record-label-title">是否首次发生: </label>
        </div>
        <div class="col-md-3 radio input-group" style="width: ;float: left;">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_17.options"><input type="radio" ng-model="entity.name_17"
                                                                                name="entity.name_17"
                                                                                value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
        <div class="infi-record-box"
             ng-show="entity.name_17!=undefined && (entity.name_17=='value_1' || entity.name_17.value_1==true)">
            <div class="row">
                <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-record-label-title">首次发生时间: </label>
                </div>
                <div class="col-md-3 form-group input-group" style="width: ;float: left;"><input name="entity.name_1238"
                                                                                                  type="text"
                                                                                                  ng-model="entity.name_1238"
                                                                                                  class="form-control"/></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group infi-position">
            <div class="row infi-record-search-add">
                <div class="col-md-2" style="text-align: right;padding-right:0px;">
                    <label class="infi-record-label-title">听力下降诱因:</label>
                </div>
                <div class="infi-input-wrapper col-md-3 form-group input-group">
                    <input class="form-control"  type="text">
                </div>
            </div>
            <div class="infi-record-search-box">
                <span class="z-lst-corner" style="display: inline-block;"></span>
                <div class="infi-record-search-title">
                    <div class="infi-toolbox">
                        <p>您选择的属性为：</p>
                        <a class="close btn btn-default" ng-click="closeSearch()">关闭</a>
                        <a class="confirm btn btn-primary">确认</a>
                    </div>
                </div>
                <div class="infi-search-content">
                    <ul>
                        <li>
                            <label>
                                <input type="checkbox" name="" value="无明显诱因">无明显诱因
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="情绪波动">情绪波动
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="infi-search-add-other" ng-click="addOther()">添加其他</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-record-label-title">听力下降诱因: </label>-->
        <!--</div>-->
        <!--<div class="col-md-3 form-group input-group" style="width: ;float: left;">-->
            <!--<div><label class="checkbox-inline" style="margin-right: 10px;"-->
                        <!--ng-repeat="option in dimensions.name_18.options"><input type="checkbox"-->
                                                                                <!--ng-model="entity.name_18[option.name]"/>{{option.label}}</label>-->
            <!--</div>-->
            <!--<a infi-other-value2 checked="entity.name_18" style="cursor: pointer;display:inline-block;"-->
               <!--data-type="checkboxOther" data-name="entity.name_18">添加其他</a></div>-->
    </div>
    <div class="row">
        <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-record-label-title">听力下降出现形式: </label>
        </div>
        <div class="col-md-3 radio input-group" style="width: ;float: left;">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_19.options"><input type="radio" ng-model="entity.name_19"
                                                                                name="entity.name_19"
                                                                                value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
        <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-record-label-title">听力下降程度: </label>
        </div>
        <div class="col-md-3 radio input-group" style="width: ;float: left;">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_20.options"><input type="radio" ng-model="entity.name_20"
                                                                                name="entity.name_20"
                                                                                value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-record-label-title">听力下降方位: </label>
        </div>
        <div class="col-md-3 radio input-group" style="width: ;float: left;">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_21.options"><input type="radio" ng-model="entity.name_21"
                                                                                name="entity.name_21"
                                                                                value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
        <div class="infi-record-box"
             ng-show="entity.name_21!=undefined && (entity.name_21=='value_2' || entity.name_21.value_2==true)">
            <div class="row">
                <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-record-label-title">听力下降方位顺序: </label>
                </div>
                <div class="col-md-3 radio input-group" style="width: ;float: left;">
                    <div><label class="checkbox-inline" style="margin-right: 10px;"
                                ng-repeat="option in dimensions.name_22.options"><input type="radio" ng-model="entity.name_22"
                                                                                        name="entity.name_22"
                                                                                        value="{{option.name}}"/>{{option.label}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;">
            <label class="infi-record-label-title">听力下降是否自行缓解: </label></div>
        <div class="col-md-3 radio input-group" style="width: ;float: left;">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_24.options"><input type="radio" ng-model="entity.name_24"
                                                                                name="entity.name_24"
                                                                                value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
        <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;">
            <label class="infi-record-label-title">（几天内）听力降至谷底时长: </label></div>
        <div class="col-md-3 form-group input-group" style="width: ;float: left;"><input name="entity.name_23"
                                                                                         type="text"
                                                                                         ng-model="entity.name_23"
                                                                                         class="form-control"/></div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-record-label-title">听力下降补充: </label>
        </div>
        <div class="col-md-8 form-group input-group" style="width: ;float: left;"><input name="entity.name_25"
                                                                                            ng-model="entity.name_25"
                                                                                            type="text"
                                                                                            class="form-control"/>
        </div>
    </div>
</div>