<div class="infi-record-box"
     ng-show="entity.name_270!=undefined && (entity.name_270=='value_1' || entity.name_270.value_1==true)"><h4
        class="infi-record-title">鼓膜异常</h4>
    <div class="row">
        <!--<div class="col-md-1 form-group" style="width:76px;text-align: right;padding-right: 0px;"><label>鼓膜畸形: </label>-->
        <!--</div>-->
        <div class="col-md-12 checkbox input-group" style="width: ;float: left;" ng-if="gmjcTabs.value == 'zkjc_gmjx'">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_271.options"><input type="checkbox"
                                                                                 ng-model="entity.name_271[option.name]"/>{{option.label}}</label>
            </div>
        </div>
        <!--<div class="col-md-1 form-group" style="width:76px;text-align: right;padding-right: 0px;"><label>鼓膜炎症: </label>-->
        <!--</div>-->
        <div class="col-md-12 checkbox input-group" style="width: ;float: left;" ng-if="gmjcTabs.value == 'zkjc_gmyz'">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_277.options"><input type="checkbox"
                                                                                 ng-model="entity.name_277[option.name]"/>{{option.label}}</label>
            </div>
        </div>
    </div>
    <div ng-if="gmjcTabs.value == 'zkjc_gmjx'">
        <link rel="import" href="../html_gen/zkjc_-_271_-_gmbsbq.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_271_-_gmwt.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_271_-_gmnx.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_271_-_gmzh.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_271_-_gmfb.html?__inline">
    </div>
    <div ng-if="gmjcTabs.value == 'zkjc_gmyz'">
        <link rel="import" href="../html_gen/zkjc_-_277_-_gmzz.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_277_-_xuechi.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_277_-_ganchi.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_277_-_yeping.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_277_-_gmjy.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_277_-_gmsy.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_277_-_gmcx.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_277_-_gmgc.html?__inline">
    </div>
    <div class="row">
        <!--<div class="col-md-1 form-group" style="width:76px;text-align: right;padding-right: 0px;"><label>鼓膜外伤: </label>-->
        <!--</div>-->
        <div class="col-md-12 checkbox input-group" style="width: ;float: left;" ng-if="gmjcTabs.value == 'zkjc_gmws'">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_283.options"><input type="checkbox"
                                                                                 ng-model="entity.name_283[option.name]"/>{{option.label}}</label>
            </div>
        </div>
        <!--<div class="col-md-1 form-group" style="width:76px;text-align: right;padding-right: 0px;"><label>鼓膜异物: </label>-->
        <!--</div>-->
        <div class="col-md-12 checkbox input-group" style="width: ;float: left;" ng-if="gmjcTabs.value == 'zkjc_gmyw'">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_288.options"><input type="checkbox"
                                                                                 ng-model="entity.name_288[option.name]"/>{{option.label}}</label>
            </div>
        </div>
    </div>
    <div ng-if="gmjcTabs.value == 'zkjc_gmws'">
        <link rel="import" href="../html_gen/zkjc_-_283_-_gmbh.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_283_-_gmck.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_283_-_gmjccd.html?__inline">
    </div>
    <div ng-if="gmjcTabs.value == 'zkjc_gmyw'">
        <link rel="import" href="../html_gen/zkjc_-_288_-_gmxr.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_288_-_gmycfmw.html?__inline">
    </div>
    <div class="row">
        <!--<div class="col-md-1 form-group" style="width:104px;text-align: right;padding-right: 0px;">-->
            <!--<label>鼓膜其他异常: </label></div>-->
        <div class="col-md-12 checkbox input-group" style="width: ;float: left;" ng-if="gmjcTabs.value == 'zkjc_gmqt'">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_291.options"><input type="checkbox"
                                                                                 ng-model="entity.name_291[option.name]"/>{{option.label}}</label>
            </div>
        </div>
    </div>
    <div ng-if="gmjcTabs.value == 'zkjc_gmqt'">
        <link rel="import" href="../html_gen/zkjc_-_291_-_gzfsyc.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_291_-_gmysyc.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_291_-_gmyr.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_291_-_gmgh.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_291_-_gmwsxyh.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_291_-_gmtqgyc.html?__inline">
        <link rel="import" href="../html_gen/zkjc_-_291_-_gmec.html?__inline">
    </div>
</div>