<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">头部：囟门: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="basic.fontanelle"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="basic.fontanelleAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="basic.fontanelleAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">心肺: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="basic.cardiopulmonary"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input
            name="basic.cardiopulmonaryAbnormalInst" type="text" ng-model="basic.cardiopulmonaryAbnormalInst"
            class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">腹: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="basic.abdominal"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="basic.abdominalAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="basic.abdominalAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">脐带: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="basic.umbilicalcord"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input
            name="basic.umbilicalcordAbnormalInst" type="text" ng-model="basic.umbilicalcordAbnormalInst"
            class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">生殖器: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="basic.genital"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="basic.genitalAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="basic.genitalAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">皮肤: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="basic.skin"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="basic.skinAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="basic.skinAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">四肢: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="basic.limbs"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="basic.limbsAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="basic.limbsAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">喂养: </label></div>
    <div class="col-md-10 radio input-group" style="width: ;float: left;"><label class="radio-inlinue"
                                                                                 style="margin-right: 10px;"><input
            type="radio" ng-model="basic.feed" name="basic.feed" value="name___u6BCD__u4E73__u5582__u517B"/>母乳喂养</label><label
            class="radio-inlinue" style="margin-right: 10px;"><input type="radio" ng-model="basic.feed"
                                                                     name="basic.feed"
                                                                     value="name___u4EBA__u5DE5__u5582__u517B"/>人工喂养</label><label
            class="radio-inlinue" style="margin-right: 10px;"><input type="radio" ng-model="basic.feed"
                                                                     name="basic.feed"
                                                                     value="name___u6DF7__u5408__u5582__u517B"/>混合喂养</label>
    </div>
</div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">大小便: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="basic.urine"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="basic.urineAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="basic.urineAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">其它: </label></div>
    <div class="col-md-10 form-group input-group" style="width: ;float: left;"><textarea name="basic.other"
                                                                                         ng-model="basic.other" rows="5"
                                                                                         class="form-control"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">预防接种: </label></div>
    <div class="col-md-10 form-group input-group" style="margin-top: 6px;float: left;"><label class="checkbox-inline"
                                                                                      style="margin-right: 10px;"><input
            type="checkbox" ng-model="basic.vaccination.name___u5361__u4ECB__u82D7"/>卡介苗</label><label
            ng-repeat="(key,value) in basic.vaccinationOTHER" class="checkbox-inline" style="margin-right: 10px;"><input
            type="checkbox" ng-model="basic.vaccinationOTHER[key]"/>{{key|unescape}}</label><button class="btn infi-btn-linear-default btn-xs" infi-other-value
                                                                                               checked="basic.vaccination"
                                                                                               style="cursor: pointer;display:inline-block;"
                                                                                               data-type="checkboxOther"
                                                                                               data-name="basic.vaccination">添加其他</button>
    </div>
</div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">建议: </label></div>
    <div class="col-md-10 form-group input-group" style="width: ;float: left;"><textarea name="basic.advice"
                                                                                         ng-model="basic.advice"
                                                                                         rows="5"
                                                                                         class="form-control"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">签名: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input style="width: 90%;" name="basic.babySignature"
                                                                                      type="text"
                                                                                      ng-model="basic.babySignature"
                                                                                      class="form-control"/></div>
</div>