<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">高危评分: </label></div>
    <div class="col-md-10 form-group input-group" style="margin-top: 6px;float: left;">
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u65E0]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u65E0"/>无</label>
        <label
            ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u4E0D__u826F__u4EA7__u79D1__u53F2]"
            class="checkbox-inline"
            style="margin-left: 10px;">
        <input
                type="checkbox"
                ng-model="daily.highRiskScore.name___u4E0D__u826F__u4EA7__u79D1__u53F2"/>不良产科史</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u598A__u5A20__u671F__u7CD6__u5C3F__u75C5]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u598A__u5A20__u671F__u7CD6__u5C3F__u75C5"/>妊娠期糖尿病</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u598A__u5A20__u671F__u9AD8__u8840__u538B__u75BE__u75C5]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u598A__u5A20__u671F__u9AD8__u8840__u538B__u75BE__u75C5"/>妊娠期高血压疾病</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u7622__u75D5__u5B50__u5BAB]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u7622__u75D5__u5B50__u5BAB"/>瘢痕子宫</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u598A__u5A20__u671F__u80C6__u6C41__u6DE4__u79EF__u7EFC__u5408__u5F81]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u598A__u5A20__u671F__u80C6__u6C41__u6DE4__u79EF__u7EFC__u5408__u5F81"/>妊娠期胆汁淤积综合征</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u81C0__u4F4D]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u81C0__u4F4D"/>臀位</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u598A__u5A20__u5408__u5E76__u7532__u72B6__u817A__u75BE__u75C5]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u598A__u5A20__u5408__u5E76__u7532__u72B6__u817A__u75BE__u75C5"/>妊娠合并甲状腺疾病</label>
        <label ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u598A__u5A20__u5408__u5E76__u5185__u79D1__u75BE__u75C5]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u598A__u5A20__u5408__u5E76__u5185__u79D1__u75BE__u75C5"/>妊娠合并内科疾病</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u598A__u5A20__u5408__u5E76__u5916__u79D1__u75BE__u75C5]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u598A__u5A20__u5408__u5E76__u5916__u79D1__u75BE__u75C5"/>妊娠合并外科疾病</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u591A__u80CE__u598A__u5A20]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u591A__u80CE__u598A__u5A20"/>多胎妊娠</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u8F6F__u4EA7__u9053__u5F02__u5E38]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u8F6F__u4EA7__u9053__u5F02__u5E38"/>软产道异常</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u7F8A__u6C34__u8FC7__u5C11]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u7F8A__u6C34__u8FC7__u5C11"/>羊水过少</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u7F8A__u6C34__u8FC7__u591A]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u7F8A__u6C34__u8FC7__u591A"/>羊水过多</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u5148__u627E__u6D41__u4EA7]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u5148__u627E__u6D41__u4EA7"/>先兆流产</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u524D__u7F6E__u80CE__u76D8]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u524D__u7F6E__u80CE__u76D8"/>前置胎盘</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u80CE__u76D8__u65E9__u5265]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u80CE__u76D8__u65E9__u5265"/>胎盘早剥</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u8FC7__u671F__u598A__u5A20]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u8FC7__u671F__u598A__u5A20"/>过期妊娠</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u5E74__u9F84__u5927__u4E8E35__u5C81]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u5E74__u9F84__u5927__u4E8E35__u5C81"/>年龄大于35岁</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u5E74__u9F84__u5C0F__u4E8E18__u5C81]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u5E74__u9F84__u5C0F__u4E8E18__u5C81"/>年龄小于18岁</label>
        <label  ng-class="{true:'infi-selected-bg'}[daily.highRiskScore.name___u9AA8__u76C6__u5F02__u5E38]"
                class="checkbox-inline" style="margin-right: 10px;"><input type="checkbox"
                                                                           ng-model="daily.highRiskScore.name___u9AA8__u76C6__u5F02__u5E38"/>骨盆异常</label>
        <label ng-repeat="(key,value) in daily.highRiskScoreOTHER" ng-class="{true:'infi-selected-bg'}[daily.highRiskScoreOTHER[key]]" class="checkbox-inline" style="margin-left: 10px;">
            <input type="checkbox" ng-model="daily.highRiskScoreOTHER[key]"/>{{key|unescape}}</label>
        <button id="daily-other" infi-other-value checked="daily.highRiskScore" style="cursor: pointer;margin-left: 10px;" data-type="checkboxOther" class="btn infi-btn-linear-default btn-xs"
                data-name="daily.highRiskScore">添加其他</button>
    </div>
</div>