<!--<div class="row">-->
    <!--<div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">预约日期: </label></div>-->
    <!--<div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="visitrecord.appointmentDate"-->
                                                                                     <!--infi-date type="text"-->
                                                                                     <!--ng-model="visitrecord.appointmentDate"-->
                                                                                     <!--class="form-control"/></div>-->
    <!--<div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">检查日期: </label></div>-->
    <!--<div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="visitrecord.checkDate"-->
                                                                                     <!--infi-date type="text"-->
                                                                                     <!--ng-model="visitrecord.checkDate"-->
                                                                                     <!--class="form-control"/></div>-->
<!--</div>-->
<!--<div class="row">-->
    <!--<div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">孕期: </label></div>-->
    <!--<div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="visitrecord.gestationalWeek"-->
                                                                                     <!--type="text"-->
                                                                                     <!--ng-model="visitrecord.gestationalWeek"-->
                                                                                     <!--class="form-control"/>-->
        <!--<div class="input-group-addon" style=""> 周</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">主诉: </label></div>
    <div class="col-md-10 form-group input-group" style="width: ;float: left;"><input
            name="visitrecord.complainedSymptoms" type="text" ng-model="visitrecord.complainedSymptoms"
            class="form-control"/></div>
</div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">处理: </label></div>
    <div class="col-md-10 form-group input-group" style="width: ;float: left;"><textarea name="visitrecord.handle"
                                                                                         ng-model="visitrecord.handle"
                                                                                         rows="5"
                                                                                         class="form-control"></textarea>
    </div>
</div>
<!--这个地方需要加上一个复诊的备注字段-->
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;">
        <label class="infi-wj-label-title">备注: </label>
    </div>
    <div class="col-md-10 form-group input-group" style="width: ;float: left;">
        <textarea name="visitrecord.note" ng-model="visitrecord.note" rows="5" class="form-control"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">签名: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="visitrecord.signature"
                                                                                      type="text"
                                                                                      ng-model="visitrecord.signature"
                                                                                      class="form-control"/></div>
</div>