<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">外阴: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="pregnancy.vulva"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="pregnancy.vulvaAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="pregnancy.vulvaAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">阴道: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="pregnancy.vagina"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="pregnancy.vaginaAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="pregnancy.vaginaAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">宫颈: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="pregnancy.cervical"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input
            name="pregnancy.cervicalAbnormalInst" type="text" ng-model="pregnancy.cervicalAbnormalInst"
            class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">宫体: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="pregnancy.corpus"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="pregnancy.corpusAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="pregnancy.corpusAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">附件: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><select ng-model="pregnancy.adnexa"
                                                                                      class="form-control"
                                                                                      style="width: 90%">
        <option value="name___u6B63__u5E38">正常</option>
        <option value="name___u5F02__u5E38">异常</option>
    </select></div>
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">备注: </label></div>
    <div class="col-md-4 form-group input-group" style="width: ;float: left;"><input name="pregnancy.adnexaAbnormalInst"
                                                                                     type="text"
                                                                                     ng-model="pregnancy.adnexaAbnormalInst"
                                                                                     class="form-control"/></div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">滴虫: </label></div>
    <div class="col-md-10 radio input-group" style="width: ;float: left;"><label class="radio-inlinue"
                                                                                 style="margin-right: 10px;"><input
            type="radio" ng-model="pregnancy.trichomonad" name="pregnancy.trichomonad"
            value="name___u9633__u6027"/>阳性</label><label class="radio-inlinue" style="margin-right: 10px;"><input
            type="radio" ng-model="pregnancy.trichomonad" name="pregnancy.trichomonad"
            value="name___u9634__u6027"/>阴性</label></div>
</div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;"><label class="infi-wj-label-title">霉菌: </label></div>
    <div class="col-md-10 radio input-group" style="width: ;float: left;"><label class="radio-inlinue"
                                                                                 style="margin-right: 10px;"><input
            type="radio" ng-model="pregnancy.mold" name="pregnancy.mold" value="name___u9633__u6027"/>阳性</label><label
            class="radio-inlinue" style="margin-right: 10px;"><input type="radio" ng-model="pregnancy.mold"
                                                                     name="pregnancy.mold" value="name___u9634__u6027"/>阴性</label>
    </div>
</div>
<div class="row">
    <div class="col-md-1 form-group" style="width: ;text-align: right;padding-right: 0px;">
        <label class="infi-wj-label-title">其他备注: </label>
    </div>
    <div class="col-md-4 radio input-group" style="width: ;float: left;">
        <input name="pregnancy.adnexaAbnormalInst" type="text" ng-model="pregnancy.otherNote" class="form-control"/>
    </div>
    <div class="col-md-3 text-danger" style="margin-top: 17px;" ng-show="pregnancy.otherNote.length > 50">
        <i class="glyphicon glyphicon-exclamation-sign"></i>50字以内
    </div>
</div>