
<div class="infi-wj-top-nav">
    <div class="infi-wj-top-nav-url">
        <a href="#/record">
            <button class="btn infi-btn-linear-green-l btn-sm">返回首页</button>
        </a>
    </div>
    <div class="infi-wj-top-nav-title">
        <!--<h3><span style="padding-right: 10px;" ng-bind="entity.first_register_date|date:'yyyy-MM-dd HH:mm:ss'"></span>产科档案</h3>-->
    </div>
</div>


<div class="infi-wj-self-box">
    <div class="infi-wj-title">
        <i class="glyphicon glyphicon-info-sign"></i>基本信息
        <a href="#/record/input/{{queryParams.xlPatientId}}/{{queryParams.patientId}}/first">
            <button class="btn infi-btn-linear-green-l btn-sm">创建产科档案</button>
        </a>
    </div>
    <div prompt data="baseInfoWrap"></div>
    <div class="infi-wj-part" ng-if="baseInfoWrap.status=='ok'&&baseInfoWrap.data.result.length>0">
        <table class="infi-wj-table" style="table-layout: fixed">
            <tbody>
            <tr>
                <td class="self-wj-label">
                    <p>ID号：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.pati_id"></p>
                </td>
                <td class="self-wj-label">
                    <p>患者姓名：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.name"></p>
                </td>
                <td class="self-wj-label">
                    <p>性别：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.sex_name"></p>
                </td>
            </tr>
            <tr>
                <td class="self-wj-label">
                    <p>出生日期：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.date_of_birth|date:'yyyy-MM-dd HH:mm:ss'"></p>
                </td>
                <td class="self-wj-label">
                    <p>创建时间：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.create_date|date:'yyyy-MM-dd HH:mm:ss'"></p>
                </td>
                <td class="self-wj-label">
                    <p>最近访问时间：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.last_visit_date|date:'yyyy-MM-dd HH:mm:ss'"></p>
                </td>
            </tr>
            <tr>
                <td class="self-wj-label">
                    <p>婚姻状态：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.marr_status_name"></p>
                </td>
                <td class="self-wj-label">
                    <p>通讯地址：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.mailing_address"></p>
                </td>
                <td class="self-wj-label">
                    <p>联系方式：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.phone_number_home"></p>
                </td>
            </tr>
            <tr>
                <td class="self-wj-label">
                    <p>联系人：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.next_of_kin"></p>
                </td>
                <td class="self-wj-label">
                    <p>联系人联系方式：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.next_of_kin_phone"></p>
                </td>
                <td class="self-wj-label">
                    <p>与患者关系：</p>
                </td>
                <td>
                    <p ng-bind="baseInfo.relationship"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="infi-wj-self-box" style="margin-top:20px;">
    <div class="infi-wj-title">
        <i class="glyphicon glyphicon-info-sign"></i> 产科档案
    </div>
    <div class="infi-wj-da-list">
        <div prompt data="archivesWrap"></div>
        <ul class="list-unstyled">
            <li ng-repeat="archive in archives" ng-show="archivesWrap.status=='ok'&&archivesWrap.data.result.length>0">
                <div>
                    <span ng-bind="archive.first_register_date|date:'yyyy-MM-dd'"></span>
                    <span>产科档案</span>
                </div>
                <div>
                    <a href="#/overview/obstetrics/{{queryParams.xlPatientId}}/{{archive.xl_medical_id}}/{{queryParams.patientId}}">查看详情</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="infi-wj-self-box" style="margin-top:20px;">
    <div class="infi-wj-title">
        <i class="glyphicon glyphicon-info-sign"></i> 历次就诊信息
    </div>
    <div class="infi-time-base-content">
        <!--存放时间轴插件-->
        <p class="alert alert-danger" ng-if="timelineDatas.status!='ok'||timelineDatas.data.length<=0">暂无数据</p>
        <div infi-timeline type="'wj'" events="timelineDatas" ng-if="timelineDatas.status=='ok'&&timelineDatas.data.length>0"></div>
    </div>
</div>
