<div class="infi-wj-self-box" style="font-size: 16px;">
    <div class="infi-wj-title">
        <i class="infi-icon" style="font-size: 17px;">&#xe61e;</i>现病史
    </div>

    <div class="infi-wj-part" >
        <div class="row">
            <div ng-repeat="opt in presentHistory" ng-if="presentHistory.length >0 " class="col-md-12">
                <p><span style="color: #000;">{{opt.illn_name}}：</span>{{opt.source|changeNULL}}</p>
            </div>
            <div class="col-md-12" ng-if = "presentHistory.length == 0">
                -
            </div>

            <div ng-if="opt.handler_id == 5 && allResults.length >0  && opt.remark" ng-repeat="opt in allResults" class="col-md-12">
                <p><span style="color: #000;">备注：</span>{{opt.remark|changeNULL}}</p>
            </div>

        </div>
    </div>
</div>
