<div class="infi-wj-self-box" style="font-size: 16px;">
    <div class="infi-wj-title" style="font-size: 17px;">
        <i class="infi-icon">&#xe62f;</i>诊断信息
    </div>
    <div class="infi-wj-part">
        <table class="infi-wj-table">
            <thead>
            <tr style="font-size: 16px;">
                <th style="width:13%">
                    <p>诊断类型</p>
                </th>
                <th style="width: 11%;">
                    <p>诊断子类型</p>
                </th>
                <th style="width:11%">
                    <p>诊断序号</p>
                </th>
                <th style="width:35%">
                    <p>诊断描述</p>
                </th>
                <th style="width:16%">
                    <p>确诊日期</p>
                </th>
                <th style="width:6%">
                    <p>天数</p>
                </th>
                <th style="width:6%">
                    <p>结果</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="opt in hospitalizedDiag" ng-if="$index<5">
                <td class="">
                    <p>{{opt.diag_type|changeNULL}}</p>
                </td>
                <td>
                    <p>{{opt.diag_type_sub|changeNULL}}</p>
                </td>
                <td class="center">
                    <p>{{opt.diagnosis_no|changeNULL}}</p>
                </td>
                <td>
                    <p>{{opt.diagnosis_desc|changeNULL}}</p>
                </td>
                <td>
                    <p>{{opt.diagnosis_date|changeNULL|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </td>
                <td>
                    <p>{{opt.treat_days|changeNULL}}</p>
                </td>
                <td>
                    <p>{{opt.treat_result|changeNULL}}</p>
                </td>
            </tr>
            <tr ng-if="hospitalizedDiag.length == 0"><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
            </tbody>
        </table>

    </div>
</div>
