<div time-weather></div>
<div class="article-title">
    <p>{{params.title}}</p>
    <a ng-click="back()">返回</a>
</div>
<div class="article-details">
    <div class="details" ng-if="params.aSort == 'article1'">
        <link rel="import" href="article1.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article2'">
        <link rel="import" href="article2.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article3'">
        <link rel="import" href="article3.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article4'">
        <link rel="import" href="article4.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article5'">
        <link rel="import" href="article5.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article7'">
        <link rel="import" href="article7.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article8'">
        <link rel="import" href="article8.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article9'">
        <link rel="import" href="article9.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article10'">
        <link rel="import" href="article10.html?__inline"/>
    </div>

    <div class="details" ng-if="params.aSort == 'article11'">
        <link rel="import" href="article11.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article12'">
        <link rel="import" href="article12.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article13'">
        <link rel="import" href="article13.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article14'">
        <link rel="import" href="article14.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article15'">
        <link rel="import" href="article15.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article16'">
        <link rel="import" href="article16.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article17'">
        <link rel="import" href="article17.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article18'">
        <link rel="import" href="article18.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article19'">
        <link rel="import" href="article19.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article20'">
        <link rel="import" href="article20.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article21'">
        <link rel="import" href="article21.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article22'">
        <link rel="import" href="article22.html?__inline"/>
    </div>
    <div class="details" ng-if="params.aSort == 'article23'">
        <link rel="import" href="article23.html?__inline"/>
    </div>
</div>
<div class="video-bottom" ng-if="params.moduleType == 'visit'">
    <div class="title-list">
        <div class="top">
            <div style="background-color: #b0a997;" ng-click="enterList('commonSense')">戒烟常识</div>
            <div style="background-color: #a28984;" ng-click="enterList('helpYou')">帮您戒烟</div>
        </div>
        <div class="top">
            <div style="background-color: #a7b2a1;" ng-click="enterDetails('takeMedicine','article13','服药注意事项')">服药注意事项</div>
            <div style="background-color: #7697aa;" ng-click="enterDetails('visit','article14','出诊信息')">出诊信息</div>
        </div>
    </div>
    <div class="title-contact">
        <img src="../img/weixin.jpg"/>
        <p>
            扫一扫关注北京朝阳医院戒烟门诊公众号
        </p>
        <p>
            中国戒烟专线：400-888-5531
        </p>
    </div>
</div>