<div time-weather></div>
<div>
    <div class="box-top" ng-click="enterList('commonSense')">
        <p>戒烟常识</p>
    </div>
    <div class="box-bottom">
        <div class="left" ng-click="enterList('helpYou')">
            <p>
                帮您戒烟
            </p>
        </div>
        <div class="right">
            <div class="right-top" ng-click="enterDetails('takeMedicine','article13','服药注意事项')">
                <p>
                    服药<br/>注意事项
                </p>
            </div>
            <div class="right-bottom" ng-click="enterDetails('visit','article14','出诊信息')">
                <p>
                    出诊<br/>信息
                </p>
            </div>
        </div>
    </div>
</div>
<div class="weixin-bottom">
    <img src="../img/weixin.jpg"/>
    <p>
        扫一扫关注北京朝阳医院戒烟门诊公众号
    </p>
    <p>
        中国戒烟专线：400-888-5531
    </p>
</div>