<div class="row">
  <div ng-repeat="(ind, val) in entryDataCopy">
    <div class="col-md-6 form-item" ng-if="val.type != 'list'">
      <!-- input　类型 -->
      <form class="form-inline" ng-if="val.type == 'text'">
        <div class="form-group item-wrap clearfix">
          <label for="{{val.id}}" class="text-right pull-left item-label" ng-bind="val.label + ':'"></label>
          <div class="pull-left">
            <input type="text" class="form-control" id="{{val.id}}" placeholder="{{val.placeholder}}" ng-model="entryData[val.value]">
          </div>
        </div>
      </form>

      <!-- radio -->
      <form class="form-inline" ng-if="val.type == 'radio'">
        <div class="form-group item-wrap clearfix">
          <label for="{{val.id}}" class="text-right pull-left item-label" ng-bind="val.label + ':'"></label>
          
          <label class="radio-inline" ng-repeat="(key,value) in val.valMap">
            <input type="radio" ng-model="entryData[val.value]" value="{{value.label}}" name="{{value.name}}"> {{value.label}}
          </label>
        </div>
      </form>

      <!-- datetime -->
      <form class="form-inline" ng-if="val.type == 'datetime'">
        <div class="form-group item-wrap clearfix">
          <label for="{{val.id}}" class="text-right pull-left item-label" ng-bind="val.label + ':'"></label>
          
          <div id="{{val.id}}" class="input-group">
            <input size="16" type="text" readonly class="form-control" ng-model="entryData[val.value]">
            <!-- <div class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </div> -->
          </div>
        </div>
      </form>

      <!-- plain -->
      <form class="form-inline" ng-if="val.type == 'plain'" ng-class="{true: 'invisible'}[val.isEmpty]">
        <div class="form-group item-wrap clearfix">
          <label class="text-right pull-left item-label" ng-bind="val.label + ':'"></label>
          <div class="pull-left">
            <span ng-bind="entryData[val.value]" class="label-txt"></span>
          </div>
        </div>
      </form>     
    </div>

    <div ng-if="val.type == 'list'" class="col-md-12 clear-padding">
      <div class="col-md-6 form-item" ng-repeat="(ind, val) in entryData[val.value] track by $index" ng-class="{1: 'hide'}[val.deleted]">
        <div class="form-group item-wrap clearfix">
          <label for="{{val.value + $index}}" class="text-right pull-left item-label" ng-bind="'初步诊断' + ':'"></label>
          <div class="pull-left diag-wrap">
            <input type="text" class="form-control" id="{{val.value + $index}}" placeholder="请输入初步诊断" ng-model="val.diagnosisDesc">
            <i class="glyphicon glyphicon-minus deletNewDiag" title="删除" ng-click="deleNewDiag($index)"></i>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <!-- 添加诊断 -->
        <div class="add-diag" ng-click="addNewDiag()">
          <i class="glyphicon glyphicon-plus"></i> <span>添加初步诊断</span>
        </div>
      </div>
    </div>


  </div>
</div>