<div>
    <div class="infi-ele-phone-header">
        <h3><span class="glyphicon glyphicon-globe"></span>
            异常解读</h3>
    </div>
    <div class="infi-ele-unscramble-content" ng-if="itemType == 'exam'">
        <span class="unscramble-title">{{abnormalInterpretation.className}}</span>
        <span class="unscramble-title-back">{{abnormalInterpretation.examTime}}</span>
        <h5>检查描述</h5>
        <p ng-if="abnormalInterpretation.examDesc">{{abnormalInterpretation.examDesc}}</p>
        <div ng-if="!abnormalInterpretation.examDesc" class="alert alert-info">暂无数据</div>
        <h5>检查印象</h5>
        <p ng-if="abnormalInterpretation.result">{{abnormalInterpretation.result}}</p>
        <div ng-if="!abnormalInterpretation.result" class="alert alert-info">无异常</div>
        <h5>临床意义</h5>
        <p ng-if="abnormalInterpretation.expan" class="infi-ele-paragraph">{{abnormalInterpretation.expan}}</p>
        <div ng-if="!abnormalInterpretation.expan" class="alert alert-info">无异常</div>
    </div>
    <div class="infi-ele-unscramble-content" ng-if="itemType == 'test'">
        <span class="unscramble-title">{{abnormalInterpretation.className}}</span>
        <table class="table infi-table">
            <thead>
                <tr class="active">
                    <th style="width:12rem">检验时间</th>
                    <th >检验结果</th>
                    <th>下限</th>
                    <th>上限</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{abnormalInterpretation.testTime}}</td>
                <td>{{abnormalInterpretation.result}}</td>
                <td>{{abnormalInterpretation.valueMin}}</td>
                <td>{{abnormalInterpretation.valueMax}}</td>
            </tr>
            </tbody>
        </table>
        <h5>临床意义</h5>
        <div ng-if="abnormalInterpretation.expan" class="infi-ele-paragraph">{{abnormalInterpretation.expan}}</div>
        <div ng-if="!abnormalInterpretation.expan" class="alert alert-info">无异常</div>
    </div>
</div>
<div class="infi-mobile-buttom" ng-click="goBack()">
    <a>返回</a>
</div>