<h4 class="infi-title"><i class="glyphicon glyphicon-globe"></i>数据管理 > 数据取数 > 审核取数</h4>

<div class="infi-box">
    <div class="marginten">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#/overview">整体情况</a></li>
            <li role="presentation" class='active' ><a href="#/project-data">课题数据</a></li>
        </ul>
    </div>
    <h4 class="infi-title">审核取数</h4>
    <div class="infi-box-containter">
        <div class="dir-nav-container">
            <div class="marginten">
                <ul class="ul-float-left ul-li-3">
                    <li style="width:40%;">
                        <label >提交时间:</label>
                        <input
                                type="text"
                                name="startTime"
                                value="startTime"
                                ng-model="startTime"
                                class="form-control"
                                style="width:40%;"
                                ng-click="time('startTime')"
                                ng-change="searchTime()">
                        ~
                        <input
                                type="text"
                                name="endTime"
                                value="endTime"
                                ng-model="endTime"
                                class="form-control"
                                style="width:40%;"
                                ng-click="time('endTime')"
                                ng-change="searchTime()">
                    </li>
                    <li style="width:26%;">
                        <label>录入中心:</label>
                        <select ng-model="entruCenter" ng-click="entruCenters()" class="form-control">
                            <option value="{{option.value}}" ng-repeat="option in entruCenterOption">{{option.name}}</option>
                        </select>
                    </li>
                    <li class="input-group">
                        <input type="text" class="form-control input-lg" value="searchKeyWord" ng-model="searchKeyWord" style="height:34px;" placeholder="请输入 患者姓名、病历编号进行搜索"><span class="input-group-addon btn btn-primary" ng-click="searchData()">搜索</span>
                    </li>
                </ul>
            </div>
            <!--列表插件-->
            <div infi-table columns="listColumn" data-ng-if="listData.status == 'ok'" content="listData" update-page="getList(page)" opts="tableOpt" btn-callback="pageFn(entity,type)"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="auditBy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">审核结果</h4>
            </div>
            <div class="modal-body">
                <p>审核理由</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<button class="btn infi-btn-linear-green-l btn-sm" ><a href="#/project-data-details">查看详情</a></button>