<section class="infi-diagnosis">
    <p>诊断</p>
    <div class="infi-diagnosis-part">
        <table class="table infi-table" style="table-layout: fixed;">
            <thead>
            <tr>
                <th>
                    初步诊断
                </th>
                <th>
                    最后诊断
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label>{{entity.name_1067}}</label>
                </td>
                <td>
                    <label>{{entity.name_1068}}</label>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <span ng-model="entity.name_1069" ng-bind="entity.name_1069"></span>
                    <span><br /></span><span ng-model="entity.name_5021" ng-bind="entity.name_5021 | date:'yyyy-MM-dd' "></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
