<div class="infi-inline-block">
    <input type="button" class="btn btn-default btn-sm" value="按天统计" ng-click="changeStatisticsType('day')"
           ng-class="{true:'btn-success'}[original.staType == 'day']" />
    <input type="button" class="btn btn-default btn-sm" value="按周统计" ng-click="changeStatisticsType('week')"
           ng-class="{true:'btn-success'}[original.staType == 'week']"/>
    <input type="button" class="btn btn-default btn-sm" value="按月统计" ng-click="changeStatisticsType('month')"
           ng-class="{true:'btn-success'}[original.staType == 'month']"/>
</div>