@import '../../scss/mixin.scss';

.basicInfo-component {
  .single-component {
    .toggle-icon {
      display: inline-block;
      margin-right: 5px;
    }
    
    
    .panel-body {
      .item-ls-wrapper {
        margin-top: -.10rem;
        .item-list {
          @include display-flex;
          @include justify-content-space-between;
          margin-top: .10rem;

          .field-wrapper {
            font-size: 16px;
          }
        }
      }
    }
  }
}