<!--标签-新建分类-->
<h4 class="infi-title" style="margin-bottom: 20px;"><i class="glyphicon glyphicon-globe"></i>
    配置 -> 分类 -> <span ng-show="viewDetail.type == 'create'">新建</span>
    <span ng-show="viewDetail.type == 'view'">查看</span>
    <span ng-show="viewDetail.type == 'change'">修改</span>
</h4>
<div class="infi-box">
    <form name="form">
        <div class="infi-form-row row">
            <div class="col-lg-2"><label>分类名称:</label></div>
            <div class="col-lg-4">
                <input type="text" class="form-control infi-drug-input input-sm" ng-model="viewDetail.detail.label"
                       ng-show="viewDetail.type != 'view'"/>
                <span ng-show="viewDetail.type == 'view'" ng-bind="viewDetail.detail.label"></span>
            </div>
            <div class="col-lg-2"><label>分类编号:</label></div>
            <div class="col-lg-4">
                <input type="text" class="form-control infi-drug-input input-sm" ng-model="viewDetail.detail.name"
                       ng-show="viewDetail.type != 'view'"/>
                <span ng-show="viewDetail.type == 'view'" ng-bind="viewDetail.detail.name"></span>
            </div>
        </div>
        <div class="infi-form-row row">
            <div class="col-lg-2"><label>排序字段:</label></div>
            <div class="col-lg-4">
                <input type="text" class="form-control infi-drug-input input-sm" ng-model="viewDetail.detail.sort"
                       ng-change="checkSort()" ng-show="viewDetail.type != 'view'"/>
                <span ng-show="viewDetail.type == 'view'" ng-bind="viewDetail.detail.sort"></span>
                <span class="text-danger" ng-show="!sortIsNumber">应填写数字</span>
            </div>
            <div class="col-lg-2"><label>分类类型:</label></div>
            <div class="col-lg-4">
                <select ng-model="viewDetail.detail.used" class="infi-drug-input" ng-show="viewDetail.type != 'view'">
                    <option value="filter">筛选</option>
                    <option value="export">导出</option>
                </select>
                <span ng-if="viewDetail.type == 'view'">{{viewDetail.detail.used|viewSelect}}</span>
            </div>
        </div>
        <div class="infi-submit-container" ng-show="viewDetail.type != 'view'">
            <input type="submit" class="btn infi-btn-linear-green-l" value="保存" ng-click="saveDatas()"/>
        </div>
    </form>
</div>
<div sys-tip></div>