<div class="infi-title-btn-right">
</div>
<h4 class="infi-title">
	<i class="glyphicon glyphicon-globe"></i>PICC拔管记录
	<button class="btn infi-btn-linear-green-l btn-sm infi-btn-fr-fix" ng-click="save('extubation')" ng-disabled="btnDisable">保存</button>
</h4>
<div class="infi-box">
	<div class="risk-evaluation">
		<h4>拔管记录</h4>
	</div>
	<div class="infi-theme-box">
		<div class="infi-nursing-theme-content" form-record list="formList">
		</div>
	</div>
	<div class="infi-nursing-bottom-btn">
		<button class="btn infi-btn-linear-green-l btn-sm " ng-click="save('extubation')" ng-disabled="btnDisable">保存</button>
		<button class="btn infi-btn-linear-green btn-sm" ng-click="goBack()">返回</button>
	</div>
	<div sys-tip></div>
</div>		