<section class="infi-section infi-section-tabs" ng-if="entity.name_336 == 'value_1'">
    <div class="infi-div-tabs">
        <div class="infi-div-tabs-left">
            <ul class="infi-lefttab-ul">
                <li ng-class="{true:'infi-lefttab-active'}[tabs.active]" ng-repeat="tabs in jbjcTabs.tabs">
                    <a name="tabs.name" ng-bind="tabs.label" ng-click="switchTable(jbjcTabs,tabs)"></a>
                    <span></span>
                </li>
            </ul>
        </div>
        <div class="infi-div-tabs-right">
            <link rel="import" href="../html_gen/zkjc_-_336_-_jbyc.html?__inline">
        </div>
    </div>
</section>