<div class="modal fade" tabindex="-1" role="dialog" id="selection-pop">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" ng-bind="part.subLabel"></h4>
        </div>
        <div class="modal-body">
          <div class="data-loading" ng-if="!part" ng-init="part = []">
              <get-data-loading></get-data-loading>
          </div>

          <div class="row" ng-repeat="partDetail in part">
            <div class="col-md-2">
              <span ng-bind="partDetail.label"></span>
            </div>

            <div class="col-md-10">
                <span class="list-content-item btn btn-default" 
                      ng-click="choseDetail(detail, partDetail)"
                      ng-repeat="detail in partDetail.valueNodes" 
                      ng-bind="detail.label"
                      ng-class="{true: 'btn-success'}[$root.selectedClass.indexOf($root.curPopData.parent.id + '_' +detail.id) >= 0]">
                </span>
            </div>
          </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->