<ul>
    <li ng-click="enterVideo('lianglirong1.mp4','复吸了怎么办？电子烟能戒烟吗','relatedVideo')">
        <div>
            <p>复吸了怎么办？电子烟能戒烟吗</p>

        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('lianglirong2.mp4','戒烟总失败？快来学习专家的戒烟大招','relatedVideo')">
        <div>
            <p>戒烟总失败？快来学习专家的戒烟大招</p>

        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('xushuilian1.mp4','吸烟成瘾是慢性疾病','relatedVideo')">
        <div>
            <p>吸烟成瘾是慢性疾病</p>
        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('xushuilian2.mp4','戒烟药物使用方法','relatedVideo')">
        <div>
            <p>戒烟药物使用方法</p>

        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('chumujingxin.mp4','吸烟所致健康危害触目惊心','relatedVideo')">
        <div>
            <p>吸烟所致健康危害触目惊心</p>
        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('ershouyan.mp4','为了您和家人的健康请远离二手烟','relatedVideo')">
        <div>
            <p>为了您和家人的健康请远离二手烟</p>

        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('haimian.mp4','像海绵一样吸满烟焦油的肺','relatedVideo')">
        <div>
            <p>像海绵一样吸满烟焦油的肺</p>
        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('qipao.mp4','吸烟损害每一个肺泡','relatedVideo')">
        <div>
            <p>吸烟损害每一个肺泡</p>
        </div>
        <img src="../img/artical.jpeg"/>
    </li>

    <li ng-click="enterVideo('qiguan.mp4','吸烟损害全身各个器官','relatedVideo')">
        <div>
            <p>吸烟损害全身各个器官</p>
        </div>
        <img src="../img/artical.jpeg"/>s
    </li>
    <li ng-click="enterVideo('quanjia.mp4','吸烟将夺走亲人的生命','relatedVideo')">
        <div>
            <p>吸烟将夺走亲人的生命</p>

        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('tushi.mp4','二手烟吞噬儿童生命','relatedVideo')">
        <div>
            <p>二手烟吞噬儿童生命</p>
        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('bangongshi.mp4','室内二手烟-无形的杀手','relatedVideo')">
        <div>
            <p>室内二手烟-无形的杀手</p>
        </div>
        <img src="../img/artical.jpeg"/>
    </li>
    <li ng-click="enterVideo('yiyuan.mp4','请勿在医院内吸烟','relatedVideo')">
        <div>
            <p>请勿在医院内吸烟</p>
        </div>
        <img src="../img/artical.jpeg"/>
    </li>
</ul>