<div class="infi-record-box"
     ng-show="entity.name_136!=undefined && (entity.name_136=='value_14' || entity.name_136.value_14==true)"><h4
        class="infi-record-title">饮酒史</h4>
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
            <label>饮酒距今时长: </label></div>
        <div class="col-md-4 form-group input-group" style="width: ;float: left;" data-name="entity.name_153"><input
                name="entity.name_153" type="text" ng-model="entity.name_153" class="form-control"/><select
                ng-model="entity.name_153unit" class="form-control"
                style="width:62px; position: absolute; top: 0;right: 50%;z-index: 10;">
            <option value="天">天</option>
            <option value="周">周</option>
            <option value="月">月</option>
            <option value="年">年</option>
        </select></div>
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
            <label>是否已戒酒: </label></div>
        <div class="col-md-4 radio input-group" style="width: ;float: left;" data-name="entity.name_154">
            <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                        ng-repeat="option in dimensions.name_154.options"><input type="radio" ng-model="entity.name_154"
                                                                                 name="entity.name_154"
                                                                                 value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
    </div>
    <link rel="import" href="../html_hand/grs_-_154_-_shi.html?__inline">
    <link rel="import" href="../html_hand/grs_-_154_-_fou.html?__inline">
    <div class="row"></div>
</div>