<div class="infi-record-box"
     ng-show="entity.name_160!=undefined && (entity.name_160=='value_0' || entity.name_160.value_0==true)">
    <!--<h4-->
        <!--class="infi-record-title">是</h4>-->
    <div class="row" style="margin-top:10px;">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>儿子: </label>
        </div>
        <div class="col-md-4 form-group input-group" style="width: ;float: left;" data-name="entity.name_161"><input
                name="entity.name_161" type="text" ng-model="entity.name_161" class="form-control"/>
            <div class="input-group-addon" style="position: relative;top: 0; right: 50%; z-index:10;"> 个</div>
        </div>
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
            <label>是否体格健康: </label></div>
        <div class="col-md-4 radio input-group" style="width: ;float: left;" data-name="entity.name_162">
            <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                        ng-repeat="option in dimensions.name_162.options"><input type="radio" ng-model="entity.name_162"
                                                                                 name="entity.name_162"
                                                                                 value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
    </div>
    <link rel="import" href="../html_gen/hys_-_162_-_fou.html?__inline">
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>女儿: </label>
        </div>
        <div class="col-md-4 form-group input-group" style="width: ;float: left;" data-name="entity.name_164"><input
                name="entity.name_164" type="text" ng-model="entity.name_164" class="form-control"/>
            <div class="input-group-addon" style="position: relative;top: 0; right: 50%; z-index:10;"> 个</div>
        </div>
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
            <label>是否体格健康: </label></div>
        <div class="col-md-4 radio input-group" style="width: ;float: left;" data-name="entity.name_165">
            <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                        ng-repeat="option in dimensions.name_165.options"><input type="radio" ng-model="entity.name_165"
                                                                                 name="entity.name_165"
                                                                                 value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
    </div>
    <link rel="import" href="../html_gen/hys_-_165_-_fou.html?__inline">
    <div class="row"></div>
</div>