<div class="infi-record-box"
     ng-show="entity.name_38!=undefined && entity.name_38=='向侧倾倒'"><h4
        class="infi-record-title">向侧倾倒</h4>
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>倾倒方向: </label>
        </div>
        <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_39">
            <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                        ng-repeat="option in dimensions.name_39.options"><input type="radio" ng-model="entity.name_39"
                                                                                name="entity.name_39"
                                                                                value="{{option.name}}"/>{{option.label}}</label>
            </div>
        </div>
    </div>
</div>