<div class="infi-record-box"
     ng-show="entity.name_336!=undefined && (entity.name_336=='value_1' || entity.name_336.value_1==true)"><h4
        class="infi-record-title">颈部异常</h4>
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>颈部异常: </label>
        </div>
        <div class="col-md-10 form-group input-group" style="width: ;float: left;" data-name="entity.name_337">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_337.options"><input type="checkbox"
                                                                                 ng-model="entity.name_337[option.name]"/>{{option.label}}</label>
            </div>
            <div class="row">
                <div class="col-md-5"><input style="width: 60%;" name="entity.name_337" type="text"
                                             ng-model="entity.name_337other" class="form-control"/>
                    <button style="margin-left: 5px;"
                            ng-click="addEntity('name_337',entity.name_337,dimensions.name_337.options,entity.name_337other)"
                            class="btn infi-btn-linear-default">添加
                    </button>
                </div>
            </div>
        </div>
    </div>
    <link rel="import" href="../html_gen/zkjc_-_337_-_jblk.html?__inline">
    <link rel="import" href="../html_gen/zkjc_-_337_-_jbbmzy.html?__inline">
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>颈部外伤: </label>
        </div>
        <div class="col-md-10 form-group input-group" style="width: ;float: left;" data-name="entity.name_340">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_340.options"><input type="checkbox"
                                                                                 ng-model="entity.name_340[option.name]"/>{{option.label}}</label>
            </div>
            <div class="row">
                <div class="col-md-5"><input style="width: 60%;" name="entity.name_340" type="text"
                                             ng-model="entity.name_340other" class="form-control"/>
                    <button style="margin-left: 5px;"
                            ng-click="addEntity('name_340',entity.name_340,dimensions.name_340.options,entity.name_340other)"
                            class="btn infi-btn-linear-default">添加
                    </button>
                </div>
            </div>
        </div>
    </div>
    <link rel="import" href="../html_gen/zkjc_-_340_-_ssqk.html?__inline">
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>颈部炎症: </label>
        </div>
        <div class="col-md-10 form-group input-group" style="width: ;float: left;" data-name="entity.name_348">
            <div><label class="checkbox-inline" style="margin-right: 10px;"
                        ng-repeat="option in dimensions.name_348.options"><input type="checkbox"
                                                                                 ng-model="entity.name_348[option.name]"/>{{option.label}}</label>
            </div>
            <div class="row">
                <div class="col-md-5"><input style="width: 60%;" name="entity.name_348" type="text"
                                             ng-model="entity.name_348other" class="form-control"/>
                    <button style="margin-left: 5px;"
                            ng-click="addEntity('name_348',entity.name_348,dimensions.name_348.options,entity.name_348other)"
                            class="btn infi-btn-linear-default">添加
                    </button>
                </div>
            </div>
        </div>
    </div>
    <link rel="import" href="../html_gen/zkjc_-_348_-_jbzk.html?__inline">
    <div class="row"></div>
</div>