<section class="infi-tgjc">
    <div>
        <h4>耳部</h4>
        <hr />
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
                <label>林纳试验（RT左耳）: </label></div>
            <div class="col-md-4 radio input-group" style="width: ;float: left;" data-name="entity.name_215">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_215.options"><input type="radio" ng-model="entity.name_215"
                                                                                     name="entity.name_215"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
                <label>林纳试验（RT右耳）: </label></div>
            <div class="col-md-4 radio input-group" style="width: ;float: left;" data-name="entity.name_216">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_216.options"><input type="radio" ng-model="entity.name_216"
                                                                                     name="entity.name_216"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>韦伯实验（WT）: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_217">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_217.options"><input type="radio" ng-model="entity.name_217"
                                                                                     name="entity.name_217"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>耳廓检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_218">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_218.options"><input type="radio" ng-model="entity.name_218"
                                                                                     name="entity.name_218"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_218_-_egyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>外耳道检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_234">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_234.options"><input type="radio" ng-model="entity.name_234"
                                                                                     name="entity.name_234"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_234_-_wedyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>鼓膜检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_270">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_270.options"><input type="radio" ng-model="entity.name_270"
                                                                                     name="entity.name_270"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_270_-_gmyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>乳突检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_299">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_299.options"><input type="radio" ng-model="entity.name_299"
                                                                                     name="entity.name_299"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_299_-_rtyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>鼓室检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_316">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_316.options"><input type="radio" ng-model="entity.name_316"
                                                                                     name="entity.name_316"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_316_-_gsyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
                <label>捏鼻鼓气时鼓膜活动度: </label></div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_334">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_334.options"><input type="radio" ng-model="entity.name_334"
                                                                                     name="entity.name_334"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h4>颈部</h4>
        <hr />
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>颈部检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_336">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_336.options"><input type="radio" ng-model="entity.name_336"
                                                                                     name="entity.name_336"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_336_-_jbyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>颞颌关节区检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_359">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_359.options"><input type="radio" ng-model="entity.name_359"
                                                                                     name="entity.name_359"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_359_-_yhgjqyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
                <label>腮腺及颌下腺导管口检查: </label></div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_366">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_366.options"><input type="radio" ng-model="entity.name_366"
                                                                                     name="entity.name_366"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_366_-_sxjjxxdgkyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>甲状腺检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_369">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_369.options"><input type="radio" ng-model="entity.name_369"
                                                                                     name="entity.name_369"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_369_-_jzxyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>颈部血管检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_372">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_372.options"><input type="radio" ng-model="entity.name_372"
                                                                                     name="entity.name_372"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_372_-_jbxgyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>气管检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_375">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_375.options"><input type="radio" ng-model="entity.name_375"
                                                                                     name="entity.name_375"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_375_-_qgyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>淋巴结检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_381">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_381.options"><input type="radio" ng-model="entity.name_381"
                                                                                     name="entity.name_381"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_381_-_lbjyc.html?__inline">
    </div>
    <div>
        <h4>颅神经</h4>
        <hr />
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>嗅神经检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_393">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_393.options"><input type="radio" ng-model="entity.name_393"
                                                                                     name="entity.name_393"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_393_-_xjyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>视神经检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_399">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_399.options"><input type="radio" ng-model="entity.name_399"
                                                                                     name="entity.name_399"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_399_-_slyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
                <label>动眼神经、滑车神经、外展神经检查: </label></div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_405">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_405.options"><input type="radio" ng-model="entity.name_405"
                                                                                     name="entity.name_405"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_405_-_yanqiu.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>三叉神经检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_422">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_422.options"><input type="radio" ng-model="entity.name_422"
                                                                                     name="entity.name_422"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_422_-_mbtwjqcjyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>舌下神经检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_441">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_441.options"><input type="radio" ng-model="entity.name_441"
                                                                                     name="entity.name_441"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_441_-_ssyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>面神经检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_445">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_445.options"><input type="radio" ng-model="entity.name_445"
                                                                                     name="entity.name_445"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_445_-_msjyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>前庭蜗神经检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_472">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_472.options"><input type="radio" ng-model="entity.name_472"
                                                                                     name="entity.name_472"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_472_-_qtwsjyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
                <label>舌咽神经、迷走神经检查: </label></div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_479">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_479.options"><input type="radio" ng-model="entity.name_479"
                                                                                     name="entity.name_479"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>副神经检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_488">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_488.options"><input type="radio" ng-model="entity.name_488"
                                                                                     name="entity.name_488"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_488_-_fsjyc.html?__inline">
    </div>
    <div>
        <h4>鼻</h4>
        <hr />
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>外鼻检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_492">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_492.options"><input type="radio" ng-model="entity.name_492"
                                                                                     name="entity.name_492"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_492_-_wbyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>鼻腔检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_520">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_520.options"><input type="radio" ng-model="entity.name_520"
                                                                                     name="entity.name_520"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>鼻窦检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_666">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_666.options"><input type="radio" ng-model="entity.name_666"
                                                                                     name="entity.name_666"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_666_-_bdyc.html?__inline">
    </div>
    <div>
        <h4>喉</h4>
        <hr />
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>声门检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_679">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_679.options"><input type="radio" ng-model="entity.name_679"
                                                                                     name="entity.name_679"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_679_-_smyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>声带检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_687">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_687.options"><input type="radio" ng-model="entity.name_687"
                                                                                     name="entity.name_687"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_687_-_sdyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>室带检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_1165">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_1165.options"><input type="radio" ng-model="entity.name_1165"
                                                                                      name="entity.name_1165"
                                                                                      value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_1165_-_sdyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>杓状软骨检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_719">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_719.options"><input type="radio" ng-model="entity.name_719"
                                                                                     name="entity.name_719"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_719_-_zzrgyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>会厌检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_722">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_722.options"><input type="radio" ng-model="entity.name_722"
                                                                                     name="entity.name_722"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_722_-_hyyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>梨状窝检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_736">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_736.options"><input type="radio" ng-model="entity.name_736"
                                                                                     name="entity.name_736"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_736_-_lzwyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>喉腔检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_742">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_742.options"><input type="radio" ng-model="entity.name_742"
                                                                                     name="entity.name_742"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_742_-_hqyc.html?__inline">
    </div>
    <div>
        <h4>咽</h4>
        <hr />

        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>外鼻检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_492">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_492.options"><input type="radio" ng-model="entity.name_492"
                                                                                     name="entity.name_492"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_492_-_wbyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>鼻腔检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_520">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_520.options"><input type="radio" ng-model="entity.name_520"
                                                                                     name="entity.name_520"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>鼻窦检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_666">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_666.options"><input type="radio" ng-model="entity.name_666"
                                                                                     name="entity.name_666"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_666_-_bdyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>声门检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_679">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_679.options"><input type="radio" ng-model="entity.name_679"
                                                                                     name="entity.name_679"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_679_-_smyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>声带检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_687">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_687.options"><input type="radio" ng-model="entity.name_687"
                                                                                     name="entity.name_687"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_687_-_sdyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>室带检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_1165">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_1165.options"><input type="radio" ng-model="entity.name_1165"
                                                                                      name="entity.name_1165"
                                                                                      value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_1165_-_sdyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>杓状软骨检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_719">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_719.options"><input type="radio" ng-model="entity.name_719"
                                                                                     name="entity.name_719"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_719_-_zzrgyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>会厌检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_722">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_722.options"><input type="radio" ng-model="entity.name_722"
                                                                                     name="entity.name_722"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_722_-_hyyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>梨状窝检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_736">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_736.options"><input type="radio" ng-model="entity.name_736"
                                                                                     name="entity.name_736"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_736_-_lzwyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>喉腔检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_742">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_742.options"><input type="radio" ng-model="entity.name_742"
                                                                                     name="entity.name_742"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_742_-_hqyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>鼻咽部检查: </label>
            </div>
            <div class="col-md-10 checkbox input-group" style="width: ;float: left;" data-name="entity.name_746">
                <div><label class="checkbox-inline" style="margin-right: 10px;"
                            ng-repeat="option in dimensions.name_746.options"><input type="checkbox"
                                                                                     ng-model="entity.name_746[option.name]"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_746_-_bybyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>扁桃体检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_770">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_770.options"><input type="radio" ng-model="entity.name_770"
                                                                                     name="entity.name_770"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_770_-_bttyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>齿龈检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_797">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_797.options"><input type="radio" ng-model="entity.name_797"
                                                                                     name="entity.name_797"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_797_-_zyyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>腭舌弓检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_807">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_807.options"><input type="radio" ng-model="entity.name_807"
                                                                                     name="entity.name_807"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_807_-_esgyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>腭咽弓检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_821">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_821.options"><input type="radio" ng-model="entity.name_821"
                                                                                     name="entity.name_821"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_821_-_eygyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>喉咽部检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_843">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_843.options"><input type="radio" ng-model="entity.name_843"
                                                                                     name="entity.name_843"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_843_-_hybyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>环后区检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_858">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_858.options"><input type="radio" ng-model="entity.name_858"
                                                                                     name="entity.name_858"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_858_-_hhqyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>口咽部检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_873">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_873.options"><input type="radio" ng-model="entity.name_873"
                                                                                     name="entity.name_873"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_873_-_kybyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>磨牙后区检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_936">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_936.options"><input type="radio" ng-model="entity.name_936"
                                                                                     name="entity.name_936"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_936_-_myhqyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>内颊检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_946">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_946.options"><input type="radio" ng-model="entity.name_946"
                                                                                     name="entity.name_946"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_946_-_njyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>软腭检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_967">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_967.options"><input type="radio" ng-model="entity.name_967"
                                                                                     name="entity.name_967"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_967_-_reyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>舌部检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_997">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_997.options"><input type="radio" ng-model="entity.name_997"
                                                                                     name="entity.name_997"
                                                                                     value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_997_-_sbyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>悬雍垂检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_1022">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_1022.options"><input type="radio" ng-model="entity.name_1022"
                                                                                      name="entity.name_1022"
                                                                                      value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_1022_-_xycyc.html?__inline">
        <div class="row">
            <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>硬腭检查: </label>
            </div>
            <div class="col-md-10 radio input-group" style="width: ;float: left;" data-name="entity.name_1037">
                <div><label class="checkbox-inline" style="margin-right: 10px; margin-top: -20px;"
                            ng-repeat="option in dimensions.name_1037.options"><input type="radio" ng-model="entity.name_1037"
                                                                                      name="entity.name_1037"
                                                                                      value="{{option.name}}"/>{{option.label}}</label>
                </div>
            </div>
        </div>
        <link rel="import" href="../html_gen/zkjc_-_1037_-_yeyc.html?__inline">
    </div>
    <div class="row"></div>
</section>



