<div>
    <div class="modal fade" id="childTreeSelect">
        <div class="modal-dialog modal-lg" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header ">
                    <div class="infi-confirm-export-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" >&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">选择</h4>
                    </div>
                </div>
                <div class="modal-body infi-modal-view-body">
                    <tree-view ng-if="childMechanismList.data" date-resource="childMechanismList.data" parent="true"></tree-view>
                    <div ng-if="!childMechanismList.data" class="alert alert-danger">该机构下无子机构信息！</div>
                </div>
                <div class="modal-footer infi-confirm-export-footer">
                    <button type="button" class="btn infi-btn-linear-default" data-dismiss='modal'>关闭</button>
                    <button type="button" class="btn infi-btn-linear-green-l"  data-dismiss="modal" ng-click="changeTreeSelected($root.$selectedChildNavi,'child')">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>