<div>
    <div class="modal fade" id="deleteTip">
        <div class="modal-dialog" style="width:300px;">
            <div class="modal-content">
                <div class="modal-header ">
                    <div class="infi-confirm-export-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" ng-click="setData()">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="infi-confirm-export-body" ng-bind="deleteDetail.errorTip"></div>
                </div>
                <div class="modal-footer infi-confirm-export-footer">
                    <button type="button" class="btn infi-btn-linear-default" data-dismiss='modal' ng-click="setData()">关闭</button>
                    <button type="button" class="btn infi-btn-linear-green-l" ng-click="confirmDelete()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div sys-tip></div>
</div>