<div>
  <div class="row">
    <div class="col-md-3">
      <!-- 返回操作 -->
      <div class="btn-group pull-left" role="group">
        <button ng-click="backToList()" class="btn btn-default"><i class="glyphicon glyphicon-home"></i> 回首页</button>
        <button ng-click="backToReport()" class="btn btn-default" ng-if="currUsrRole != 30"><i class="glyphicon glyphicon-th-list"></i> 回详情页</button>
      </div>
    </div>

    <!-- 打印/导出 -->
    <div class="col-md-2">
      <button type="button" class="btn btn-default" ng-click="printPage()" title="打印"><i class="glyphicon glyphicon-print"></i></button>
      <!-- <button type="button" class="btn btn-default" ng-click="savePageAsImg()" title="导出图片"><i class="glyphicon glyphicon-save"></i></button> -->
    </div>

    <!-- 编辑 -->
    <div class="col-md-7" ng-if="currUsrRole == 27">
      <button type="button" class="btn btn-default  pull-right" ng-click="backToEdit()" title="编辑"><i class="glyphicon glyphicon-edit"></i>编辑</button>
    </div>
  </div>


  <!-- 主体内容 -->
  <div class="no-print" id="domtoimg-wrapper">
    <!-- page title -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>中国人民解放军总医院</h5>
        <h3>肾活检病理报告单</h3>
      </div>
    </div>

    <!-- 基本信息 -->
    <div class="basic-info row">
      <dl class="dl-horizontal basicInfo-dl col-md-2" ng-repeat="(val, ind) in basicInfo.lineTwo">
        <dt class="basicInfo-dt" ng-bind="orgPageData[0].children[ind].label + ':'" title="{{orgPageData[0].children[ind].label}}"></dt>
        <dd class="basicInfo-dd"
            title="{{orgPageData[0].children[ind].value}}">
          <input type="text"
                 readonly
                 class="reset-input"
                 value="{{orgPageData[0].children[ind].value}}" />
        </dd>
      </dl>

      <ul class="basicInfo-ul col-md-2">
        <li ng-repeat="(val, ind) in basicInfo.lineOne">
          <dl class="dl-horizontal basicInfo-ul-dl">
            <dt class="basicInfo-ul-dt" ng-bind="orgPageData[0].children[ind].label + ':'" title="{{orgPageData[0].children[ind].label}}"></dt>
            <dd class="basicInfo-ul-dd" 
                title="{{orgPageData[0].children[ind].value}}">
              <input type="text"
                     readonly
                     class="reset-input"
                     value="{{orgPageData[0].children[ind].value}}" /></dd>
          </dl>
        </li>
      </ul>
    </div>

    <hr class="divider title-divider">


    <!-- 表单正文 -->
    <div class="row sec-wrapper">
      <!-- 块 光镜所见, 棉衣荧光 ...  -->
      <div class="panel panel-default" ng-repeat="sec in orgPageData" ng-if="$index != 0">
        <div class="panel-heading" ng-if="sec.showParentLabelFlag">
          <h3 class="panel-title" ng-bind="sec.label + ':'"></h3>
        </div>
        <div class="panel-body row">

          <!-- 报告日期需特殊处理 moduleId 61 是 "其他"  -->
          <dl class="dl-horizontal col-md-4 basicInfo-dl" ng-repeat="single in sec.children" ng-if="sec.moduleId == '61'">
            <dt ng-bind="single.label + ':'"></dt>
            <!-- 时间 -->
            <dd ng-bind="single.value" ng-if="single.type == '5'"></dd>
            <!-- 单一图片 -->
            <dd ng-if="single.type == '7'">
              <img class="single-img"
                    ng-src="{{single.value}}"
                    id="single.name">
            </dd>
            <!-- 上传图片 -->
            <dd ng-if="single.type == '4'" class="imgList">
              <pre-img show-btn="false" item="single" record-id="orgPageData[0].recordId" edit-able="false"></pre-img>
            </dd>
          </dl>
          
          
          <!-- children PAS染色 ...  -->
          <dl class="dl-horizontal" ng-repeat="single in sec.children" ng-if="sec.moduleId != '61'">
            <dt ng-bind="single.label + ':'"></dt>
            <!-- 文本 -->
            <dd ng-bind="single.value" ng-if="single.type == '1'"></dd>
            <!-- 上传图片 -->
            <dd ng-if="single.type == '4'" class="imgList row">
              <pre-img class="col-md-10" show-btn="false" item="single" record-id="orgPageData[0].recordId" edit-able="false"></pre-img>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>


<!-- 打印内容 -->
<div class="print-content hide" id="form-wrapper">
  <div class="print-wrapper">
    <div class="content-wrapper page-break">
      <div class="ng-include: './js/html/report.html'"></div>
    </div>
  </div>
</div>
</div>


<img ng-click="backTop()" src="../images/top.jpg" alt="" class="back-top" style="width: 60px; height:60px; position: fixed; right:14px;
bottom: 78px; z-index: 10; cursor: pointer;" title="返回顶部">
<!-- toast 通知 -->
<toast-pop totast="totast.mainBody" ng-if="totast.mainBody"></toast-pop>
