<h4 class="infi-title" style="margin-bottom: 20px;"><i class="glyphicon glyphicon-globe"></i>组合分析</h4>
<div class="infi-box" style="position: static;">
    <div class="infi-group">
        <label>选择查找时间段：</label>
        <input infi-date="yyyy-mm-dd" ng-model="recordData.startTime" placeholder="开始时间" value="{{recordData.startTime}}"
               class="form-control infi-group-input datepicker" ng-change="changeData()" /> -
        <input infi-date="yyyy-mm-dd" placeholder="结束时间" ng-model="recordData.endTime"
               class="form-control infi-group-input datepicker" value="{{recordData.endTime}}" ng-change="changeData()" />
        <div style="display: inline-block;">
            <label>请选择科室类型：</label>
            <select ng-model="recordData.selectedCombination" ng-change="changeData()">
                <option ng-repeat="option in selectOptions" value="{{option.value}}" ng-bind="option.label"
                        ng-selected="recordData.selectedCombination==option.value"></option>
            </select>
        </div>
    </div>
    <div class="infi-box-containter">
        <div id="errorTip" class="alert alert-danger" ng-show="!options.finish">未查寻到数据，请修改查询条件</div>
        <div id="svgDiv" style="height: 778px;margin: 0 auto;"></div>
        <div style="width: 240px; height: 100px; position: absolute; left: 871px; top: 0px; opacity: 0;" class="tooltip infi-tooltip" id="toolTip">
            <div class="header2" id="header1"></div>
            <div class="header-rule"></div>
            <div class="header" id="head"></div>
            <div class="header-rule"></div>
            <div class="header3" id="header2"></div>
        </div>
    </div>
</div>
<script>
    $(document).bind('doConfig',function() {
        var scope = $(".infi-box").scope();
        fetchData(scope.options);
        $(document).unbind('doConfig');
    });
</script>
<script type="text/javascript" src="../js/disease.complication/globals.js"></script>
<script type="text/javascript" src="../js/disease.complication/initialize.js"></script>
<script type="text/javascript" src="../js/disease.complication/events.js"></script>
<script type="text/javascript" src="../js/disease.complication/data.js"></script>
<script type="text/javascript" src="../js/disease.complication/_buildChords.js"></script>
<script type="text/javascript" src="../js/disease.complication/update.js"></script>
<script type="text/javascript" src="../js/disease.complication/main.js"></script>
<script type="text/javascript" src="../js/disease.complication/drawChart.js"></script>