<style>
    .row{
        margin:10px 0;
    }
</style>
<h4 class="infi-title"><i class="glyphicon glyphicon-globe"></i>课题研究 > {{navTopicName}} > 课题任务计划设置</h4>
<header class="infi-section" style="padding-right:20px;">
    <ul class="infi-header-ul" style="margin-left:20px;">
        <li><span>1. 课题基本信息设置</span></li>
        <li><span>2. 课题成员邀请</span></li>
        <li class="infi-header-active"><span>3. 课题任务计划设置</span></li>
    </ul>
</header>
<div class="infi-box">
    <div class="infi-box-containter" style="    border: 1px solid #fff;
    padding: 0;">
        <div class="dir-nav-container">

            <!--<div shiyanzu-form experiment="experiment" asd="asd()" HosDep="HosDep" GroupName="GroupName"></div>-->
            <div>
                <div class="infi-box marginten" ng-repeat="exp in experiment">
                    <h4>{{exp.name}}</h4>
                    <button class="btn infi-btn-linear-green-l btn-sm btnDel" ng-click="btnDel(exp.name,0)">删除</button>
                    <div class="infi-box-containter">
                        <div class="dir-nav-container">
                            <div class="row">
                                <div class="col-xs-4" ng-repeat="exps in exp.one">
                                    <div class="col-xs-3" style="min-width:100px;text-align: right;padding:0;line-height:34px;">
                                        <label ><span style="color:red;">*</span>{{exps.name}}:</label>
                                    </div>
                                    <div class="col-xs-9" style="width:55%;">
                                        <input ng-if="exps.name !== '病例数量'" type="text" class="form-control" value="{{exps.value}}" ng-model="exps.value">
                                        <input ng-if="exps.name === '病例数量'" type="text" class="form-control" value="{{exps.value}}" ng-change="quantityChange(exp,exps.value)" ng-model="exps.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
     					        <div class="col-xs-4">
                                    <div class="col-xs-3" style="text-align: right;padding:0;min-width:100px">
                                        <label ><span style="color:red;">*</span>{{exp.casesNumber}}:</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <textarea class="form-control" style="height:60px;resize: none;width:500px;" value="{{exp.casesValue}}" ng-model="exp.casesValue"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="col-xs-3" style="text-align: right;padding:0;line-height:34px;min-width:100px">
                                        <label ><span style="color:red;">*</span>{{exp.CRF}}:</label>
                                    </div>
                                    <div class="col-xs-2" style="width:70px;">
                                        <button class="btn infi-btn-linear-green-l btn-sm" ng-click="setCrf('1','own',exp.name)" ng-disabled="exp.CrfDisabled">选择模板</button>
                                    </div>
                                    <div class="col-xs-7" style="width:0;">
                                        <input type="text" style="margin-left:15px;min-width:200px" class="form-control"  value="{{exp.CRFValue}}" ng-model="exp.CRFValue" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="col-xs-3" style="text-align: right;padding:0;line-height:34px;min-width:100px">
                                        <label ><span style="color:red;">*</span>{{exp.distribution}}:</label>
                                    </div>
                                    <div class="col-xs-2" style="width:70px;">
                                        <button class="btn infi-btn-linear-green-l btn-sm" ng-click="setDist(exp)">分配人数</button>
                                    </div>
                                    <div class="col-xs-7 " style="width:0px;margin-left:15px;overflow-x: inherit;text-align: center;">
                                        <table class="table table-striped" style="min-width:500px">
                                            <tr>
                                                <td>序号</td>
                                                <td>医院</td>
                                                <td>科室</td>
                                                <td>人数</td>
                                            </tr>
                                            <tr ng-repeat="table in exp.distributionTable">
                                                <td>{{$index+1}}</td>
                                                <td>{{table.hospital}}</td>
                                                <td>{{table.departments}}</td>
                                                <td>{{table.number}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 style="text-align: center">
                    <button class="btn infi-btn-linear-green-l btn-sm" ng-click="setAdd(0)">添加实验组</button>
                </h4>
            </div>
            <hr>
            <div>
                <div class="infi-box marginten" ng-repeat="con in controls">
                    <h4>{{con.name}}</h4>
                    <button class="btn infi-btn-linear-green-l btn-sm btnDel" ng-click="btnDel(con.name,1)">删除</button>
                    <div class="infi-box-containter">
                        <div class="dir-nav-container">
                            <div class="row">
                                <div class="col-xs-4" ng-repeat="cons in con.one">
                                    <div class="col-xs-3" style="min-width:100px;text-align: right;padding:0;line-height:34px;">
                                        <label ><span style="color:red;">*</span>{{cons.name}}:</label>
                                    </div>
                                    <div class="col-xs-9" style="width:55%;">
                                        <input ng-if="cons.name!=='病例数量'" type="text" class="form-control" value="{{cons.value}}" ng-model="cons.value">
                                        <input ng-if="cons.name==='病例数量'" type="text" class="form-control" value="{{cons.value}}" ng-change="quantityChanges(con,cons.value)" ng-model="cons.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="col-xs-3" style="text-align: right;padding:0;min-width:100px">
                                        <label ><span style="color:red;">*</span>{{con.casesNumber}}:</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <textarea class="form-control" style="height:60px;resize: none;width:500px;" value="{{con.casesValue}}" ng-model="con.casesValue"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="col-xs-3" style="text-align: right;padding:0;line-height:34px;min-width:100px">
                                        <label ><span style="color:red;">*</span>{{con.CRF}}:</label>
                                    </div>
                                    <div class="col-xs-2" style="width:70px;">
                                        <button class="btn infi-btn-linear-green-l btn-sm" ng-click="setCrf('1','own',con.name)"  ng-disabled="con.CrfDisabled">选择模板</button>
                                    </div>
                                    <div class="col-xs-7" style="width:0px;">
                                        <input type="text" style="margin-left:15px;min-width:200px" class="form-control" value="{{con.CRFValue}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="col-xs-3" style="text-align: right;padding:0;line-height:34px;min-width:100px">
                                        <label ><span style="color:red;">*</span>{{con.distribution}}:</label>
                                    </div>
                                    <div class="col-xs-2" style="width:70px;">
                                        <button class="btn infi-btn-linear-green-l btn-sm" ng-click="setDist(con)">分配人数</button>
                                    </div>
                                    <div class="col-xs-7 table-responsive" style="width:0px;margin-left:15px;overflow-x: inherit;text-align: center;">
                                        <table class="table table-striped" style="min-width:500px">
                                            <tr>
                                                <td>序号</td>
                                                <td>医院</td>
                                                <td>科室</td>
                                                <td>人数</td>
                                            </tr>
                                            <tr ng-repeat="table in con.distributionTable">
                                                <td>{{$index+1}}</td>
                                                <td>{{table.hospital}}</td>
                                                <td>{{table.departments}}</td>
                                                <td>{{table.number}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 style="text-align: center">
                    <button class="btn infi-btn-linear-green-l btn-sm" ng-click="setAdd(1)">添加对照组</button>
                </h4>
            </div>
            <!--<div duizhaozu-form controls="controls" setAdd="setAdd"></div>-->
        </div>
    </div>
</div>
<div class="topics-button">
    <button class="btn infi-btn-linear-green-l" ng-click="invitePrevious()">上一步</button>
    <button class="btn infi-btn-linear-green-l" ng-click="setSave()">保存</button>
</div>

<!--提示保存成功-->
<div class="modal fade"  id="set-save">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>保存成功</p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
               <button type="button" class="btn btn-primary" ng-click="setSuccess()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--选择CRF模板-->
<div class="modal fade"  id="set-CrfModal">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">CRF模板</h4>
            </div>
            <div class="modal-body">
                <div class="infi-box" ng-if="step == 1">
                    <h4 class="infi-title">CRF模板管理</h4>
                    <div class="infi-box-containter">
                        <div class="dir-nav-container">
                            <div class="marginten">
                                <ul class="nav nav-tabs " role="tablist">
                                    <li role="presentation" class="cursorPointer active " ng-click="CrfTab(1)"><a>我的CRF模板</a></li>
                                    <li role="presentation" ng-click="CrfTab(2)" class="cursorPointer"><a>系统CRF模板</a></li>
                                </ul>
                            </div>
                            <div class="infi-box-containter">
                                <div class="dir-nav-container">
                                    <div class="marginten">
                                        <ul class="ul-float-left ul-li-3">
                                            <li>
                                            </li>
                                            <li>
                                                <label >CRF来源:</label>
                                                <select ng-model="sourceType" id="sourceType" ng-click="setSearch()"  class="form-control">
                                                    <option value="{{opt.value}}" ng-repeat="opt in optionValue">{{opt.name}}</option>
                                                </select>
                                            </li>
                                            <li class="input-group">
                                                <input id="setSearch" type="text" class="form-control input-lg" ng-model="setKeyword" style="height:34px;"><span class="input-group-addon btn btn-primary" ng-click="setSearch()">搜索</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div infi-table columns="listColumns" content="listDatas" update-page="setCrf(page)" opts="tableOpt" btn-callback="pageFns(entity,type)"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="infi-box" ng-if="step == 2">
                    <h4 class="infi-title">系统CRF模板</h4>
                    <div class="infi-box-containter">
                        <div class="dir-nav-container">
                            <div class="marginten">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="cursorPointer" ng-click="CrfTab(1)"><a>我的CRF模板</a></li>
                                    <li role="presentation" class="active cursorPointer" ng-click="CrfTab(2)"><a>系统CRF模板</a></li>
                                </ul>
                            </div>
                            <div class="infi-box-containter">
                                <div class="dir-nav-container">
                                    <div class="input-group" style="width:50%; margin: 0 auto;">
                                        <input type="text" id="setSearchs" ng-model="setKeywords" class="form-control input-lg" style="height:34px;" >
                                        <span class="input-group-addon btn btn-primary" ng-click="setSearchs()">搜索</span>
                                    </div>
                                    <div>
                                        <ul class="marginten">
                                            <!--一级-->
                                            <li ng-repeat="navs in Navigational">
                                                <i class="glyphicon glyphicon-chevron-{{navs.arrow}}"></i>
                                                <span ng-click="topicsNav(navs)" class="cursorPointer">{{navs.label}}</span>
                                                <!--二级-->
                                                <ul class="marginten {{navs.display}}" >
                                                    <li ng-repeat="nav in navs.children">
                                                        <i class="glyphicon glyphicon-chevron-{{nav.arrow}}"></i>
                                                        <span ng-click="topicsNav(nav)" class="cursorPointer">{{nav.label}}</span>
                                                        <div ng-if="sysListDatas.page.content && nav.arrow === 'down'" class="{{txt.display}}" infi-table columns="sysListColumns" content="sysListDatas" update-page="setCrfs(page)" opts="tableOpt" btn-callback="pageFns(entity,type)"></div>
                                                        <!--三级-->
                                                        <ul class="marginten {{nav.display}}">
                                                            <li ng-repeat="txt in nav.children">
                                                                <i class="glyphicon glyphicon-chevron-{{txt.arrow}}"></i>
                                                                <span ng-click="topicsNav(txt)" class="cursorPointer">{{txt.label}}</span>
                                                                <!--四级-->
                                                                <div class="{{txt.display}}" infi-table columns="sysListColumns" content="sysListDatas" update-page="setCrfs(page)" opts="tableOpt" btn-callback="pageFns(entity,type)"></div>
                                                                <!--<div infi-table columns="listColumns" content="sysListColumns" update-page="setCrf(page)" opts="tableOpt" btn-callback="pageFns(entity,type)"></div>-->
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="infi-box" ng-if="step == 3">
                    <button type="button" class="btn btn-default" ng-click="setReturn()" style="float: right;position: relative;top: -14px;">返回</button>
                    <h4 class="infi-title">查看详情</h4>
                    <div class="infi-box-containter" style="overflow: hidden;">
                        <div class="dir-nav-container">
                            <div class="infi-box-containter">
                                <div class="dir-nav-container" style="overflow: hidden;">
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--分配人数-->
<div class="modal fade"  id="set-distribution">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">任务分配</h4>
            </div>
            <div class="modal-body">
                <div class="marginten">
                   <span>分组信息</span> : <span>{{GroupName}}</span>
                </div>
                <div class="marginten">
                    <span>数量计划</span> : <span>{{numberPeople}} </span> <span style="color:red;" ng-if="totalPeoplePrompt    "> *分配人数过多</span>
                </div>
                <div class="marginten">
                    <span>任务分配</span> :
                </div>
                <div class="row" ng-repeat="data in HosDep">
                    <div class="col-xs-8" style="text-align: right;padding:0;line-height:34px;">
                        <label >{{data.name}} | </label>
                        <label > {{data.names}}</label>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" value="{{data.value}}" ng-model="data.value">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="groupSuccess()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--提示crf成功-->
<div class="modal fade"  id="set-CRFsave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>确认使用'{{CRFSelectedName}}'模板么?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="CRFSelectedSet()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div general-prompt></div>
<div input-detail-third-step></div>