<header class="infi-section" style="padding-right:20px;">
    <ul class="infi-header-ul" style="margin-left:20px;">
        <li class="infi-header-active"><a href="#/data.select">数据选择</a></li>
        <li><a href="#/variable.set">变量设置</a></li>
        <li><a href="#/data.pretreatment">数据预处理</a></li>
        <li><a href="#/filter.set">筛选设置</a></li>
        <li><a href="#/model">建模</a></li>
        <li><a href="#/complete">已建模型</a></li>
    </ul>
</header>
<!--<header class="infi-section" style="padding-right:20px;">-->
    <!--<ul class="infi-header-ul infi-header-ul-3" style="margin-left:20px;">-->
        <!--<li class="infi-analysis-modifyed"><a href="#/data.select">数据管理</a></li>-->
        <!--<li class="infi-header-active"><a href="#/data.select1">描述统计</a></li>-->
        <!--<li><a href="#/data.select2">建立模型</a></li>-->
    <!--</ul>-->
<!--</header>-->
<!--<header class="infi-section marginten" style="padding-right:20px;">-->
    <!--<ul class="infi-header-ul" style="margin-left:20px;">-->
        <!--<li class="infi-analysis-modifyed" style="width:50%;line-height: 50px;height: 50px;"><a href="#/data.select1">数据选择</a></li>-->
        <!--<li class="infi-header-active" style="width:50%;line-height: 50px;height: 50px;"><a href="#/exploration1">统计结果</a></li>-->
    <!--</ul>-->
<!--</header>-->
<div class="row marginten" style="">
    <div class="col-xs-3">
        <div class="input-group floatright marginten">
            <input type="text" class="form-control input-lg"  style="height:34px;"><span class="input-group-addon btn btn-primary">搜索</span>
        </div>
        <div class="marginten">
            <select class="form-control" value='selectLeftData' ng-model="selectLeftData" ng-click="selectLeft()">
                <option value="">全部</option>
                <option value="1">分类变量</option>
                <option value="2">连续变量</option>
            </select>
        </div>
        <div class="marginten cursorPointer {{status.active}}" ng-click="conditionClick(status)" style="text-align: center;border:1px solid #ddd;border-radius:3px;line-height: 25px" ng-repeat="status in condition">
            <span>{{status.name}}</span>
        </div>
        <div class="marginten" style="text-align: center;border:1px solid #ddd;border-radius:3px;line-height: 25px">...</div>

    </div>
    <div class="col-xs-9">
        <div class="backgroud-ddd paddingten">
            <span class="font-bold">已选变量 |</span>
            <span>{{selectedData}}</span>
        </div>

        <div class="backgroud-blue paddingten marginten" style="width:200px;text-align: center">
            <span class="font-bold">无序分类变量统计</span>
        </div>
        <div style="width: 60%;">
            <table ng-repeat="table in tablesWuxu" class="table infi-table">
                <caption style="font-weight: bold;font-size: 18px;text-align:center">{{table.label}}</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>频数</th>
                        <th>百分比</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in table.data">
                        <td ng-repeat="col in row" ng-bind="col"></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <hr>

        <div class="backgroud-blue paddingten marginten" style="width:200px;text-align: center">
            <span class="font-bold">连续变量统计</span>
        </div>
        <div>
            <table class="table infi-table">
                <caption></caption>
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2" style='padding-top: 30px;'>平均值</th>
                        <th rowspan="2" style='padding-top: 30px;'>标准差</th>
                        <th rowspan="2" style='padding-top: 30px;'>最小值</th>
                        <th rowspan="2" style='padding-top: 30px;'>最大值</th>
                        <th colspan="3">百分位数</th>
                    </tr>
                    <tr>
                        <th >25</th>
                        <th >中位数</th>
                        <th >75</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in tablesLianxu">
                        <!--如果存在重复数据会报错-->
                        <td ng-repeat="col in row.data track by $index" ng-bind="col"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>

        <div class="backgroud-blue paddingten marginten" style="width:200px;text-align: center">
            <span class="font-bold">无序分类变量统计图</span>
        </div>
        <div ng-repeat="table in tablesWuxu">
            <button type="button" class="btn btn-default" ng-click="switch(table,'bar')">柱状图</button>
            <button type="button" class="btn btn-default" ng-click="switch(table,'pie')">饼图</button>
            <div id="wuxu_{{table.label}}" style="height:400px;"></div>
            <hr>
        </div>

        <div class="backgroud-blue paddingten marginten" style="width:200px;text-align: center">
            <span class="font-bold">连续变量统计图</span>
        </div>
        <div ng-repeat="table in tablesLianxu">
            <button type="button" class="btn btn-default" ng-click="swithBottom(table,'shadow')">箱线图</button>
            <button type="button" class="btn btn-default" ng-click="swithBottom(table,'solid')">QQ图</button>
            <!--<div id="continuous-main" style="height:400px;"></div>-->
            <div id="lianxu_{{table.label}}" style="height: 400px;"></div>
        </div>
        <hr>
    </div>
</div>