<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>医疗数据库</title>
    <link rel="shortcut icon" href="../src/image/favicon.ico" type="image/x-icon" />
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../src/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="../src/scss/frame.scss" rel="stylesheet" />
    <link href="../src/scss/infi-modal.scss" rel="stylesheet" />
    <link href="../src/scss/infi-color.scss" rel="stylesheet" />
    <link href="../src/scss/infi-outside.scss" rel="stylesheet" />
    <link href="../src/scss/infi-listing.scss" rel="stylesheet" />
    <link href="../src/scss/infi-category.scss" rel="stylesheet" />
    <link href="../src/scss/infi-drug.scss" rel="stylesheet" />
    <link href="../src/scss/infi-filter.scss" rel="stylesheet" />
    <link href="../src/scss/infi-retrieva-record.scss" rel="stylesheet" />
    <link href="../src/scss/infi-from-header.scss" rel="stylesheet" />
    <link href="../src/scss/infi-confirm-export.scss" rel="stylesheet" />
    <link href="../src/scss/infi-collection-screening.scss" rel="stylesheet" />
    <link href="../src/scss/infi-lefttab.scss" rel="stylesheet" />
    <link href="../src/scss/infi-screen-name.scss" rel="stylesheet" />
    <link href="../src/scss/infi-screen-details.scss" rel="stylesheet" />
    <link href="../src/scss/infi-time-control.scss" rel="stylesheet" />
    <link href="../src/scss/infi-button.scss" rel="stylesheet" />
    <link href="../src/scss/infi-timeline.scss" rel="stylesheet" />
    <link href="../src/scss/infi-wj-print.scss" rel="stylesheet" />
    <link href="../src/scss/infi-wj.scss" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../src/scss/infi-navi.scss"/>

    <!--新添加的scss文件-->
    <link rel="stylesheet" href="../src/scss/infi-forty-two.scss">

    <!--判断浏览器是否为ie浏览器，如果是ie将进入browser.html，进行插件的下载-->
    <script>
        (function(){
            if(!!window.ActiveXObject || "ActiveXObject" in window){
                window.location.href='browser.html';
                return false;
            }
        })();
    </script>

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../src/datetimepicker/js/moment.js"></script>
    <script type="text/javascript" src="../src/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../src/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>

<body ng-app="infi-basic" ng-controller="HomeController">
    <!-- 头部导航 -->
    <header class="navbar navbar-default infi-header clearfix">
        <div class="navbar-header infi-header-logo">
            <span class="logo" href="#/home"></span>
            <!--<a href="#/home" style="position: fixed;z-index: 25;top:0;left:0; display:inline-block;width:212px;height:72px;"></a>-->
        </div>

        <div class="infi-header-title pull-left">
            医疗数据智库平台
        </div>

        <!--<div  class="box-button pull-right" ng-controller="LoginController">-->
            <!--&lt;!&ndash;<i class="glyphicon glyphicon-fullscreen"></i>&ndash;&gt;-->
            <!--<a ng-click="logout()" class="glyphicon">退出</a>-->
        <!--</div>-->

        <!--<div class="box-user pull-right" style="padding-left: 160px;">-->
            <!--<img style="width: 45px; height: 45px;" src="../src/image/doctor.png" class="user-logo"/>-->
            <!--&lt;!&ndash;&lt;!&ndash;王中艺&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="pull-right glyphicon glyphicon-menu-down"></i>&ndash;&gt;-->
        <!--</div>-->
        <div class="box-user pull-right infi-wj-box-user" ng-controller="LoginController">
            <img class="user-logo" src="../src/image/doctor.png">
            <p class="infi-header-name" ng-bind="name">
            </p>
            <span>|</span>
            <p class="infi-header-name">
                <a ng-click="alterPasswordModal()" class="glyphicon">修改密码</a>
            </p>
            <span>|</span>
            <p class="infi-header-name">
                <a id="logout-click" ng-click="logout()" class="glyphicon">退出</a>
                <!--<b ng-click='resetPassword()'>密码重置</b>-->
            </p>
            <!--<span class="pull-right glyphicon glyphicon-menu-down"></span>-->
        </div>

    </header>
    <!-- 头部导航 END -->

    <!-- 左部导航 -->
    <infi-navi></infi-navi>
    <!-- 左部导航 END -->

    <!-- 右部内容 -->
    <article style="min-height: 600px;" class="infi-main infi-wj-article">
        <div ng-view></div>
        <footer class="infi-footer infi-wj-footer" style="padding-bottom: 0;">
            <p class="infi-footer-detail">
                北京无极慧通科技公司 | 北京市海淀区大钟寺东路168号中嘉大厦4层410 | 联系电话:010-82686850
            </p>
        </footer>
    </article>
    <!--//修改密码的模态框-->
    <div class="modal fade" id="alterPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="myModalLabel" style="color:#6c91b7;">修改密码:</h5>
                </div>

                <div class="modal-body">
                    <ul class="infi-wj-alter-password">
                        <li>
                            <label>请输入初始密码:</label>
                            <input type="password" class="form-control" ng-model="password.oldWord" placeholder="请输入初始密码"/>
                            <span class="infi-wj-new-span" ng-if="!password.oldWord">旧密码不能为空</span>
                        </li>
                        <li>
                            <label>请输入您的新密码:</label>
                            <input type="password" class="form-control" ng-model="password.newWord" placeholder="请输入新密码"/>
                            <span  class="infi-wj-new-span" ng-if="!password.newWord">新密码不能为空</span>
                        </li>
                        <li>
                            <label>请再次输入新密码:</label>
                            <input type="password" class="form-control" ng-model="password.newWordAgain" placeholder="请再次输入新密码"/>
                            <span class="infi-wj-again-span" ng-if="password.newWord !=password.newWordAgain">两次输入的密码不同</span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>

                    <button ng-disabled="(password.newWord !=password.newWordAgain)||!password.newWord" ng-click="alterPassword()" type="button" class="btn btn-primary">
                        确认修改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div sys-tip></div>
</body>
</html>

<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="../src/angular-ui-bootstrap.js"></script>
<script src="all.js"></script>
<!--<script type="text/javascript" src="js2/app.module.js"></script>-->

<script type="text/javascript" src="../src/widget/system/system.filter.js"></script>
<script type="text/javascript" src="../src/widget/system/system.directive.js"></script>
<script type="text/javascript" src="../src/widget/timeline/timeline.directive.js"></script>

<!--<script type="text/javascript" src="js2/route.js"></script>-->
<!--<script type="text/javascript" src="js2/constant.js"></script>-->

<script type="text/javascript" src="../src/widget/table/table.js"></script>

<!--<script type="text/javascript" src="js2/record.service.js"></script>-->
<!--<script type="text/javascript" src="js2/overview.service.js"></script>-->
<!--<script type="text/javascript" src="js2/home.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/record.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/record.input.first.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/record.input.second.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/record.input.third.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/basic.directive.js"></script>-->
<!--<script type="text/javascript" src="js2/overview.obstetrics.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/time.base.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/overview.inhospital.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/overview.oupatient.controller.js"></script>-->
<!--<script type="text/javascript" src="js2/right.nav.service.js"></script>-->
<!--<script type="text/javascript" src="js2/record.input.other.service.js"></script>-->
<!--<script type="text/javascript" src="js2/print.service.js"></script>-->

<script type="text/javascript" src="../src/widget/system/http.interceptor.factory.js" ></script>
<script type="text/javascript" src="../src/widget/system/login.controller.js" ></script>
<script type="text/javascript" src="../src/widget/system/auth.service.js" ></script>
<script type="text/javascript" src="../src/widget/system/session.service.js" ></script>
<script type="text/javascript" src="../bower_components/md5/src/md5.js"></script>

<!--<script type="text/javascript" src="js2/utils.service.js"></script>-->
<script type="text/javascript" src="../bower_components/echarts/dist/echarts.js"></script>
<script type="text/javascript" src="../bower_components/jQuery.print/jQuery.print.js"></script>

<!-- 导航 -->
<script type="text/javascript" src="../src/widget/navi/navi.directive.js"></script>
<script type="text/javascript" src="../src/widget/navi/navi.services.js"></script>
