<div class="container-fluid patiManage-page">
  <!-- page content title -->
  <header class="row">
    <h3 class="col-md-6 page-title-txt">{{currPati.name}} <small>的慢病管理首页</small></h3>

    <div class="col-md-6">
      
      <form class="form-inline pull-right">
        <a href="#/list" class="btn btn-default" role="button"><i class="glyphicon glyphicon-th-list"></i> 回患者列表</a>
        <div class="form-group">
            <select class="form-control" 
                    ng-options="relateDisease as relateDisease.name for relateDisease in patiRelateAbout.orgData track by relateDisease.id"
                    ng-model="patiRelateAbout.selected"
                    >
            </select>
        </div>
        <button type="button" 
                class="btn btn-primary"
                ng-click="patiView()">患者视图
        </button>
      </form>
    </div>
  </header>


  <!-- main content -->
  <div class="content-wrapper container-fluid">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h4>健康管理计划</h4>
          <hr class="title-underline">
        </div>
      </div>

      <!-- 随诊 -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <span class="pull-left">随诊</span>
              <span class="pull-right add-new-btn"
                    ng-click="addNewInterview()">
                <i class="glyphicon glyphicon-plus"></i> 新建随诊
              </span>
            </div>
            <!-- Table -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center"></th>
                  <th class="text-center">计划时间</th>
                  <th class="text-center">执行时间</th>
                  <th class="text-center">执行情况</th>
                  <th class="text-center">操作</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="row in tableAbout.page.content"
                    ng-if="tableAbout.page.content && tableAbout.page.content.length > 0">
                  <td ng-repeat="(ind, val) in tableAbout.contentMap"
                      class="txt-elipse text-center">
                      <span ng-bind="row[val] || '-'" 
                            title="{{row[val]}}"
                            ng-if="val != 'status'"
                            class="cell-plain-txt">
                      </span>
                      
                      <!-- 执行情况 -->
                      <span ng-bind="row[val] | filtInterviewStatus" 
                            title="{{row[val]}}"
                            ng-if="val == 'status'"
                            class="cell-plain-txt">
                      </span>


                  </td>
                  <td class="text-center">
                    <button class="btn btn-default" ng-click="editSuiZhen(row)">编辑</button>
                  </td>
                </tr>
      
                <!-- 表格状态提示 -->
                <tr ng-if="!tableAbout.page.content">
                    <td colspan="{{tableAbout.columns.length}}" 
                        ng-if="tableAbout.loading == 'pending'">
                      <p class="bg-warning text-center" style="line-height: 50px;">数据加载中...</p>
                    </td>
      
                    <td colspan="{{tableAbout.columns.length}}"
                        ng-if="tableAbout.loading == 'resolved'">
                      <p class="bg-success text-center" style="line-height: 50px;">加载成功!</p>
                    </td>
      
                    <td colspan="{{tableAbout.columns.length}}"
                        ng-if="tableAbout.loading == 'nondata'">
                      <p class="bg-warning text-center" style="line-height: 50px;">暂无数据!</p>
                    </td>
      
                    <td colspan="{{tableAbout.columns.length}}"
                        ng-if="tableAbout.loading == 'rejected'">
                      <p class="bg-danger text-center" style="line-height: 50px;">加载失败! 错误代码: {{tableAbout.page.error.status }}</p>
                    </td>
                  </tr>
                </tbody>
            </table>

            <!-- table page -->
            <div class="infi-page">
                <div class="form-inline">
                  <div class="form-group">
                    <uib-pagination total-items="tableAbout.page.totalElements" 
                                    ng-model="tableAbout.page.number" 
                                    boundary-link-numbers="true" 
                                    ng-change="updatePage(tableAbout.page.number)"
                                    items-per-page="tableAbout.page.size" 
                                    num-pages="tableAbout.page.totalPages" 
                                    max-size="6">
                    </uib-pagination>
                  </div>
        
                  <!-- 跳转页码 -->
                  <div class="form-group jumpPage-wrap">
                    <div class="input-group">
                      <input type="number" 
                              class="form-control numberInput" 
                              ng-model="jumpPage" 
                              min="1">
                    </div>
                    <button class="btn btn-default" 
                            ng-click="updatePage(jumpPage)">跳转</button>
                  </div>
                </div>
              </div>
          </div>
        </div>


      </div>

      <!-- 指标趋势 -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">指标趋势</div>

            <div class="panel-body">
              <!-- 筛选条件 -->
              <form class="form-inline clearfix">
                <div class="form-group pull-right">
                  <select class="form-control" 
                          ng-options="trend as trend.label for trend in indexAbout.orgData track by trend.value"
                          ng-model="indexAbout.selected"
                          ng-change="changeTrendInd(indexAbout.selected.value)"
                          >
                  </select>
                </div>
              </form>


              <!-- 图表 -->
              <div id="trend" class="sec-graph-wrapper"
                   ng-if="indexGrap.hasData"></div>
              <div ng-if="!indexGrap.hasData" class="trend-no-data-wrap">
                <p class="bg-warning text-center trend-no-data">暂无数据</p>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>





  <!-- add new pati modal -->
  <div class="modal fade" id="newInterview" 
       modal-init 
       modal-id="'newInterview'"
       add-new="addNewPati">
    <div class="modal-dialog">
      <div class="modal-content container-fluid">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="">新建随诊</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
              <div ng-repeat="item in newInterTpl">
                <!-- 文本类型 -->
                <div class="form-group"
                     ng-if="item.type == 'text'">
                  <label class="col-sm-2 control-label"
                         ng-bind="item.label"></label>
                  
                  <div class="col-sm-10">
                    <input type="text" 
                           class="form-control" 
                           placeholder="请输入{{item.label}}"
                           ng-model="newInterAbout[item.modal]">
                  </div>
                </div>

                <!-- 时间类型 -->
                <div class="form-group"
                     ng-if="item.type == 'time'">
                  <label class="col-sm-2 control-label"
                         ng-bind="item.label"></label>
                  <div class="col-sm-10">
                    <input readonly
                           type="text" 
                           class="form-control" 
                           placeholder="点击选择时间"
                           ipt-date
                           ng-model="newInterAbout[item.modal]">
                  </div>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" 
                  class="btn btn-primary" 
                  ng-click="saveNewInterview()" 
                  >创建</button>
        </div>
      </div>
    </div>
  </div>


  <!-- toast 通知 -->
  <toast-pop totast="totast.mainBody" ng-if="totast.mainBody" style="z-index: 1051;"></toast-pop>
</div>