@CHARSET "UTF-8";

	.infi-tinyTitle .infi-titleRight {margin-left:110px;}
    
   	.infi-column-kpi {width:23%;} 
   	.infi-column-text {width:31.3%;}
   	/* 列表页 */
   	.infi-m-form {
	    margin: 0 5px 15px 0px;
	    overflow: hidden;
	}
	.infi-tinyTitle p{margin:0 16px;}
	.infi-m-form .infi-u-sch input {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    background: #fff none repeat scroll 0 0;
	    border-color: #ccc -moz-use-text-color #ccc #ccc;
	    border-image: none;
	    border-radius: 6px 0 0 6px;
	    border-style: solid none solid solid;
	    border-width: 1px medium 1px 1px;
	    color: #a0a0a0;
	    float: left;
	    font-weight: normal;
	    height: 27px;
	    line-height: 27px;
	    outline: medium none;
	    padding-left: 5px;
	    width: 200px;
	}
	.infi-m-form .infi-u-sch a {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    background-color: #fff;
	    border-color: #ccc #ccc #ccc -moz-use-text-color;
	    border-image: none;
	    border-radius: 0 6px 6px 0;
	    border-style: solid solid solid none;
	    border-width: 1px 1px 1px medium;
	    color: #a0a0a0;
	    display: inline-block;
	    height: 27px;
	    text-align: center;
	    width: 30px;
	}
	.infi-PName {font-size:15px;color:#006abb;}
	.infi-u-sch {float:left;}
   	.infi-column-flow {margin:0;}
   	.infi-box .infi-tinyTitle {height:60px;}
   	.infi-box p {display:inline-block;}
   	.infi-box .infi-tinyTitle {font-size:12px;color:#000;}
   	
   	/* 2016 06 03  新增list页  kpi */
   	.infi-box-kpi {padding-top:0px;}
   	.infi-box-kpi .infi-column-kpi {float:none;}
   	.infi-box-kpi .infi-column-kpi {margin:0 0 15px -5px;}
   	
   	/* 2016 08 23 　临时解决，th过少造成的样式问题 */ 
   	 .special-shortTable tbody tr td:nth-child(1) {width:100px;}
     .special-shortTable tbody tr td:nth-child(2),.special-shortTable tbody tr td:nth-child(3),
   	 .special-shortTable tbody tr td:nth-child(4) {width:200px;}
   	 .special-shortTable tbody tr td:nth-child(5) {min-width:250px;}