<div class="infi-record-box"
     ng-show="entity.name_150!=undefined && (entity.name_150=='value_0' || entity.name_150.value_0==true)"><h4
        class="infi-record-title">是</h4>
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;">
            <label>戒烟距今时长: </label></div>
        <div class="col-md-5 form-group input-group" style="width: ;float: left;" data-name="entity.name_151"><input
                name="entity.name_151" type="text" ng-model="entity.name_151" class="form-control"/><select
                ng-model="entity.name_151unit" class="form-control"
                style="width:62px; position: absolute; top: 0;right: 50%;z-index: 10;">
            <option value="天">天</option>
            <option value="周">周</option>
            <option value="月">月</option>
            <option value="年">年</option>
        </select></div>
    </div>
</div>