<div class="infi-record-box infi-whether">
    <h4>是否已婚:</h4>
    <div style="display: inline-block;">
        <label class="checkbox-inline"
                ng-repeat="option in dimensions.name_158.options"><input type="radio" ng-model="entity.name_158"
                                                                         name="entity.name_158"
                                                                         value="{{option.name}}"/>{{option.label}}</label>
    </div>
    <div class="row" ng-show="entity.name_158!=undefined && (entity.name_158=='value_0' || entity.name_158.value_0==true)">
        <hr />
        <link rel="import" href="../html_hand/hys_-_158_-_shi.html?__inline">
    </div>
</div>