<section class="infi-yjrrs">
    <div class="row" style="margin-bottom:10px;">
        <input name="entity.name_169ccnl" type="text" ng-model="entity.name_169ccnl"
               class="form-control" placeholder="初潮年龄"/>
        <div style="display: inline-block;vertical-align: middle;">
            <span>
                <input name="entity.name_169jq" type="text" ng-model="entity.name_169jq"
                       class="form-control" placeholder="经期"/>
                <hr />
                <input name="entity.name_169zq" type="text" ng-model="entity.name_169zq"
                       class="form-control" placeholder="周期"/>
            </span>
        </div>
        <input name="entity.name_169mcyjrq" type="text" style="width:115px;" ng-model="entity.name_169mcyjrq" infi-date="yyyy-mm-dd"
               class="form-control" placeholder="末次月经日期"/>
        <label>月经经量: </label>
        <select ng-model="entity.name_170" class="form-control">
            <option value="">请选择</option>
            <option ng-repeat="option in dimensions.name_170.options" value="{{option.name}}">{{option.label}}</option>
        </select>
        <label>月经颜色: </label>
        <select ng-model="entity.name_171" class="form-control">
            <option value="">请选择</option>
            <option ng-repeat="option in dimensions.name_171.options" value="{{option.name}}">{{option.label}}</option>
        </select>
        <label>痛经: </label>
        <select ng-model="entity.name_172" class="form-control">
            <option value="">请选择</option>
            <option ng-repeat="option in dimensions.name_172.options" value="{{option.name}}">{{option.label}}</option>
        </select>
        <label>经期: </label>
        <select ng-model="entity.name_173" class="form-control">
            <option value="">请选择</option>
            <option ng-repeat="option in dimensions.name_173.options" value="{{option.name}}">{{option.label}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>妊娠次数: </label>
        </div>
        <div class="col-md-4 form-group input-group" style="width: ;float: left;" data-name="entity.name_174"><input
                name="entity.name_174" type="text" ng-model="entity.name_174" class="form-control"/>
            <div class="input-group-addon" style="position: relative;top: 0; right: 50%; z-index:10;"> 次</div>
        </div>
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>足月产次数: </label>
        </div>
        <div class="col-md-4 form-group input-group" style="width: ;float: left;" data-name="entity.name_175"><input
                name="entity.name_175" type="text" ng-model="entity.name_175" class="form-control"/>
            <div class="input-group-addon" style="position: relative;top: 0; right: 50%; z-index:10;"> 次</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>流产次数: </label>
        </div>
        <div class="col-md-4 form-group input-group" style="width: ;float: left;" data-name="entity.name_176"><input
                name="entity.name_176" type="text" ng-model="entity.name_176" class="form-control"/>
            <div class="input-group-addon" style="position: relative;top: 0; right: 50%; z-index:10;"> 次</div>
        </div>
        <div class="col-md-1 form-group" style="width:120px;text-align: right;padding-right: 0px;"><label>早产次数: </label>
        </div>
        <div class="col-md-4 form-group input-group" style="width: ;float: left;" data-name="entity.name_177"><input
                name="entity.name_177" type="text" ng-model="entity.name_177" class="form-control"/>
            <div class="input-group-addon" style="position: relative;top: 0; right: 50%; z-index:10;"> 次</div>
        </div>
    </div>
</section>
