<section class="infi-diagnosis">
    <div class="infi-diagnosis-part">
        <table class="table infi-table" style="table-layout: fixed;">
            <thead>
            <tr>
                <th>
                    初步诊断
                </th>
                <th>
                    最后诊断
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <textarea data-name="entity.name_1067" infi-radio-query style="overflow: auto;resize: vertical;"
                            name="entity.name_1067" ng-model="entity.name_1067" rows="4" class="form-control"></textarea>
                    <!--<div class="row infi-record-search-add" infi-radio-large data-name="entity.name_1067"><span class="z-lst-corner"-->
                                                                                                                <!--style="display: inline-block;"></span>-->
                        <!--<div class="infi-search-content"><label class="checkbox-inline" style="margin-right: 10px;"-->
                                                                <!--ng-repeat="option in dimensions.name_1067.options"-->
                                                                <!--data-type="hide-opt" ng-show="option.show!=false"><input-->
                                <!--type="radio" ng-model="entity.name_1067" name="entity.name_1067" value="{{option.label}}"/>{{option.label}}</label>-->
                        <!--</div>-->
                    <!--</div>-->
                </td>
                <td>
                    <textarea data-name="entity.name_1068" infi-radio-query style="overflow: auto;resize: vertical;"
                              name="entity.name_1068" ng-model="entity.name_1068" rows="4" class="form-control"></textarea>
                    <!--<div class="row infi-record-search-add" infi-radio-large data-name="entity.name_1068"><span class="z-lst-corner"-->
                                                                                                                <!--style="display: inline-block;"></span>-->
                        <!--<div class="infi-search-content"><label class="checkbox-inline" style="margin-right: 10px;"-->
                                                                <!--ng-repeat="option in dimensions.name_1068.options"-->
                                                                <!--data-type="hide-opt" ng-show="option.show!=false"><input-->
                                <!--type="radio" ng-model="entity.name_1068" name="entity.name_1068" value="{{option.label}}"/>{{option.label}}</label>-->
                        <!--</div>-->
                    <!--</div>-->
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <span ng-bind="entity.name_1069"></span>
                    <span><br /></span>
                    <span ng-bind="entity.name_5021 | date:'yyyy-MM-dd' "></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
