<div>
  <div class="panel panel-success container-fluid">
    <div class="panel-heading row">患者已存在, 基本信息如下: </div>
    <div class="panel-body row">
      <div class="col-md-{{val.colspan}} base-info-item"
           ng-repeat="(ind, val) in info"
      >
        <span ng-bind="val.label + ':'"></span>
        <span ng-bind="createInfo[val.modal] || '-'" 
              ng-if="val.modal != 'sex' && val.modal != 'marrage' && val.modal != 'dustAndSoot'"></span>

        <span ng-bind="+createInfo[val.modal] | filtGender" ng-if="val.modal == 'sex'"></span>
        <span ng-bind="+createInfo[val.modal] | filtMarrage" ng-if="val.modal == 'marrage'"></span>
        <span ng-bind="+createInfo[val.modal] | filtdustAndSoot" ng-if="val.modal == 'dustAndSoot'"></span>
      </div>
    </div>
  </div>

  <form class="form-inline">
    <label for="newPatiDepID">护理组:</label> 
    <div class="radio">
      <label class="radio-inline" ng-repeat="(ind, val) in group.groupOrgData">
        <div ng-if="val.id == createInfo.groupId">
          <input type="radio"
                  name="{{val.name}}"
                  value="{{val.id}}"
                  ng-model="createInfo.groupId"
                  disabled> {{val.name}}
        </div>
      </label>
    </div>
  </form>
  
</div>